C:\Users\Yamini\Desktop\QMS\OQC\oqc_model\myworld
C:\Users\Yamini\Desktop\QMS\OQC\oqc_model\oqc\product\__pycache__
C:\Users\Yamini\Desktop\QMS\OQC\oqc_model\oqc\employee\__pycache__
C:\Users\Yamini\Desktop\QMS\OQC\oqc_model\oqc\authapp\__pycache__