:root[data-theme="dark"] {
    --main-header-bg: var(--gray-shade-60);
    --top-bar-icon-fill: var(--gray-tint-80);
    --sidebar-bg: rgb(73, 73, 73);
    --sidebar-hover-bg: rgb(90, 90, 90);
    --sidebar-link-hover: rgb(227, 142, 255);
    --sidebar-link-color: var(--gray-tint-50);
    --sidebar-link-active-color: var(--white-base);
    --sidebar-menu-heading-color: var(--gray-tint-30);
    --filter-popup-bg: #494949;
    --theme-switcher-bg: #eee;
    --theme-switcher-ball: #000;
    --sun-icon-fill: #fff;
    --moon-icon-fill: #000;
    --main-header-link-color: var(--gray-tint-80);
    --barry: #7190ff;
    --background-area: #2b2b2b;
    --everywhere: #111827;
    --webkit-text-fill-color: #ffffff; 
    --color: #ffffff; 
    --table-border-color: #ffffff;
    --table-border-width: 1px;
    --table-border-style: solid; 
    --popup-color: rgb(22, 22, 22);
    --form-field-bg: #4c4c4c;
    --filter-field-bg: #363636;
    --form-bg: #333;
    --form-submit-btn-bg: #2e5a76;
    --form-submit-btn-bg-hover: #274559;
    --form-submit-btn-shadow: #041e2f;
    --button-color: rgb(65, 65, 65);
    --button-hover-color: rgb(80, 80, 80);
    --stage-btn-bg: #eee5;
}

:root[data-theme="light"] {
    --main-header-bg: var(--gray-tint-80);
    --top-bar-icon-fill: var(--gray-base);
    --sidebar-bg: #e0e7ef;
    --sidebar-hover-bg: #bbcde1;
    --sidebar-link-hover: black;
    --sidebar-link-color: var(--gray-tint-50);
    --sidebar-link-active-color: var(--gray-base);
    --sidebar-menu-heading-color: var(--gray-tint-50);
    --filter-popup-bg: #e0e7ef;
    --theme-switcher-bg: #111;
    --theme-switcher-ball: #fff;
    --sun-icon-fill: #ffffff;
    --moon-icon-fill: rgb(0,0,0);
    --main-header-link-color: var(--gray-base);
    --barry: #cbd6ff;
    --background-area: #fdfaf3;
    --everywhere: #f3f6fd;
    --webkit-text-fill-color: black; 
    --color: rgb(0,0,0); 
    --table-border-color: rgb(0,0,0); 
    --table-border-width: 1px; 
    --table-border-style: solid; 
    --popup-color: #ffffff;
    --filter-field-bg: #ffffff;
    --form-field-bg : #f3f6fa;
    --form-bg: #e0e7ef;
    --form-submit-btn-bg: #4172b0;
    --form-submit-btn-bg-hover: #1b549b;
    --form-submit-btn-shadow: #235ba1;
    --button-color: rgb(196, 196, 196);
    --button-hover-color: rgb(150, 150, 150);
    --stage-btn-bg: #1113;
}

body {
    background-color: var(--background-area) !important;
    color: var(--webkit-text-fill-color);
}

#theme-switcher {
    display: flex;
    align-items: left;

}

#theme-switcher svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

#theme-switcher__sun {
    fill: var(--sun-icon-fill);
}

#theme-switcher__moon {
    fill: var(--moon-icon-fill);
}

table {
    border: var(--table-border-width) var(--table-border-style) var(--table-border-color);
} 

table th, table td {
    border: var(--table-border-width) var(--table-border-style) var(--table-border-color);
    
}

.popup {
    background-color: var(--popup-color);
}

.form-control {
    background-color : var(--form-field-bg) !important;
    color : var(--color) !important;
}

.dropdown-menu {
    background-color : var(--form-field-bg) !important;
    color : var(--color) !important;
}

.user-info{
    background-color: var(--form-field-bg);
}

.card {
    background-color: var(--form-field-bg); 
}

textarea {
    background-color: var(--form-field-bg);
}   

/* WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #fff0;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(80, 80, 80);
}

::-webkit-scrollbar:hover {
    background: black;
}