@import url('filter.css');
@import url('menu.css');
@import url('header.css');


@media only screen and (max-device-width: 600px) {
    .main-table{
        table-layout: fixed;
        /* width: fit-content; */
    }
    .heading>h1 {
        font-size: 30px;
    }
    .table-containers {
        margin-top: -10px;
        max-width: 85vw;
        overflow-x: scroll !important;
        -webkit-overflow-scrolling: touch;
    }
    .main-table colgroup :nth-child(1){
        width: 45px;
    }
    .main-table colgroup :nth-child(2){
        width: 85px;
    }
    .main-table colgroup :nth-child(3){
        width: 150px;
    }
    .main-table colgroup :nth-child(4){
        width: 80px;
    }
    .main-table colgroup :nth-child(5){
        width: 120px;
    }
}


body {
    overflow-x: hidden;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    font-size: 17px;
    text-decoration-color: whitesmoke;
    transition: background 0.2s linear;
}

button {
    height: 30px;
    color: rgb(239, 237, 246); 
    width: max-content;
    padding: 0px 10px;
    border: 10px;
    border-color: black;
    background-color: #fff2;
    font-size: 17px;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
    background-color: #fff6;
}

.right-icon{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 69px;
    gap: 5px;
}

.header {
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #2c4f7b;
    color: white;
    width: 100vw;
    position: fixed;
}

/* .header .fa {
    margin-right: 10px;
} */

.main-content {
    display: flex;
    flex-grow: 1;
    padding-top: 53.6px;
}
/* .left-icon {
    display: flex;
} */
span.heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span.heading a {
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    width: max-content;
}

.content {
    flex-grow: 1;
    padding: 20px;
    color: black;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    /* overflow-x: auto; */
    /* -webkit-overflow-scrolling: touch; */
}
/* .main-table {
    table-layout: fixed;
} */
.table thead th {
    vertical-align: middle;
}
.coll-btn-cell {
    width: 2rem;
}

.checkbox-cell {
    width: 45px;
    text-align: center;
}

th, td {
    padding: 15px;
    text-align: left;
    padding: .5rem 0.75rem;
}

th {
    background-color: #2c4f7b;
    color: white;
}

button.collapse-button {
    height: 20px;
    width: 20px;
    padding: 0;
    /* background-color: #fff2; */
    color: white;
    border: none;
    cursor: pointer;
}

button.collapse-button i {
    font-size: 12px;
}

.collapse-arrow {
    color: white;
}

.collapse-arrow.down {
    transform: rotate(0deg);
}

.collapse-arrow.up {
    transform: rotate(180deg);
}

.action-buttons {
    /* display: flex; */
    gap: 10px;
}

.action-buttons a {
    background: #fff2;
    color: #fff !important;
    padding: 0px 10px;
    text-decoration: none;
    border-radius: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 25px;
}

.action-buttons a:hover {
    background: #fff4;
    cursor: pointer;
}
.action-buttons a.delete:hover svg path {
    fill: rgb(193, 0, 0);
}

.message {
    align-self: center;
    width: calc(100% - 10px);
    padding: 4px 5px;
    border: 1px solid #ddd;
    display: block;
}

.message-container {
    z-index: 100;
    width: 30%;
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    transition: top 0.5s ease-in-out;
    visibility: visible;
    margin: 0 auto;
}

.timer-bar {
    height: 5px;
    background-color: darkgreen;
    width: 100%;
    transition: width 5s linear;
    display: block;
}

.success {
    background-color: #dff0d8;
    color: #468847;
    border-color: #d6e9c6;
}

.error {
    background-color: #f2dede;
    color: #a94442;
    border-color: #ededed;
}

.button-container {
    text-align: center;
}
.user-info p {
    margin: 0;
    padding: 10px 0;
}

.user-btn {
    background-color: #2c4f7b;
    display: flex;
    color: white;
    border: 1.5px solid white;
    padding: 1px 8px;
    cursor: pointer;
    width: max-content;
    height: fit-content;
    border-radius: 50%;
    justify-content: center;
    font-size: 20px;
}

.user-info {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    color: black;
    padding: 10px 20px;
    border: 1px solid #ddd;
    z-index: 1;
    max-height: 80vh;
    overflow-y: auto; 
    max-width: 50vw;
}

.logout-btn {
    display: block;
    margin-top: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: max-content;
    justify-self: center;
}

.button-container button {
    display: inline-flex;
    margin-right: 10px;
    border-radius: 3px;
    padding: 10px;
    font-size: 16px;
    background-color: #2c4f7b;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-items: center;
    justify-content: center;
}

.button-container button:hover {
    background-color: #a9b9bc;
}

.button-container button:last-child {
    margin-right: 0;
}
.status-Waiting.for.Approval {
    background: yellow;
}

.status-Not.Sent {
    background: #b331a4;
    
}

.status-Rejected {
    background: red;
}

.status-Approved {
    background: #5AA33F;
}

.status-filter {
    line-height: 30px; 
}
.status-column {
    /* width: 80px; */
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;
}

.status-button {
    color: white;
}

.menu-btn {
    background-color: #fff0;
}

.menu-btn:hover {
    background-color: #fff4;
}