@import url("color_pallette.css");

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #03385e;
    color: white;
    width: 100%;
}

.nav .fa {
    margin-right: 10px;
}

.main-content {
    display: flex;
    flex-grow: 1;
}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #444f56;
    color: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9); /* Add shadow for 3D effect */
}
.message {
    list-style: circle;
    width: calc(100% - 100px);
    padding: 10px 20px;
    border: 1px solid #ddd;
    margin-bottom: 10px; /* Add some spacing */
}

.success {
    background-color: #dff0d8;
    color: #468847;
    border-color: #d6e9c6;
}

.error {
    background-color: #f2dede;
    color: #a94442;
    border-color: #ededed;
}
.user-info {
    display: none;
    position: absolute;
    right: 20px;
    background-color: #f1f1f1;
    color: black;
    padding: 10px;
    border: 1px solid #ddd;
    z-index: 1;
}

.logout-btn {
    display: block;
    margin-top: 10px;
    background-color: #d9534f;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.form-group label {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.btn-submit {
    display: block;
    margin: 0 auto;
    width: 40%;
    background-color: #182935;
    color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.9);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

input[type=text]:focus {
    background-color: #f0f9ff;
}