@import url("theme_switcher.css");

@media only screen and (max-device-width: 600px) {
    .user-info {
        width: 50vw !important;
        height: 130px !important;
        transform: translate(15px, 5.5px) !important;
    }
}

.menu-btn {
    color: white;
    background-color: #fff0;
}

.menu-btn:hover {
    background-color: #fff4;
}

.left-icon {
    display: flex;
    align-items: center;
}

.right-icon{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: max-content;
    gap: 10px;
}

.name, .mail {
    white-space: nowrap;
    overflow-x: scroll !important;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 5px;
}

.header {
    z-index: 200;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #2c4f7b;
    color: white;
    width: 100vw;
    position: fixed;
    top: 0;
}

.user-btn {
    background-color: #2c4f7b;
    display: flex;
    color: white;
    border: 1.5px solid white;
    padding: 4px;
    cursor: pointer;
    width: 42px;
    height: 42px;
    border-radius: 50% !important;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.user-btn:hover {
    background-color: #fff2;
}

.user-btn:focus {
    border: 1.5px solid white !important;
}

.user-info {
    transform: translate(15px, 3.5px);
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    color: var(--webkit-text-fill-color);
    padding: 10px 20px;
    border: 1px solid #ddd;
    z-index: 1;
    height: 130px;
    overflow: hidden;
    width: 250px;
}

.logout-btn {
    display: block;
    margin-top: 5px;
    background-color: #d9534f;
    color: white !important;
    border: none;
    border-radius:3px;
    padding: 2px 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    width: max-content;
    justify-self: center;
}

.dashboard-btn {
    height: 30px;
    color: white; 
    width: max-content;
    padding: 0px 10px;
    border: 10px;
    border-color: black;
    background-color: #0000;
    font-size: 17px;
    border-radius: 3px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-btn:hover {
    background-color: #fff4;
}

.dashboard-btn:focus {
    outline: none !important;
    border: none !important;
}