/* @import url("color_pallette.css"); */

#sidebar {
    display: block;
    position: fixed;
    flex-shrink: 0;
    height: 100%;
    max-height: calc(100vh - 52px);
    overflow-y: scroll !important;
    background-color: var(--sidebar-bg);
    transform: translate(-100%, 0%);
    transition: transform 0.2s linear;
    width: 70%;
    max-width: 230px;
    z-index: 100;
}

#sidebar.visible {
    transform: none;
}

.chevron-icon {
    transition: transform 0.1s ease;
}

.dropdown-toggle::after {
    display: none !important;
}

.sidebar-dropdown {
    background-color: var(--sidebar-bg);
    font-size: 15px;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #0879cb;
    overflow: auto;
}

.nav .bottom-icon {
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 100%;
}

li a {
    display: flex;
    align-items: center;
    color: var(--webkit-text-fill-color);
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: var(--sidebar-hover-bg);
    color: var(--webkit-text-fill-color) !important;
    text-decoration: none;
}

li a:hover .menu-icon {
    fill: var(--webkit-text-fill-color); 
}
li a:hover .icon-stroke :nth-child(2){
    stroke: var(--webkit-text-fill-color);
}
.fa-icon {
    margin-right: 10px;
}