.content {
    padding-top: 62px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-bottom: 0px;
}

.notification-table {
    border: 1px solid var(--webkit-text-fill-color);
    margin: 0 !important;
    width: 100% !important;
}

td {
    border-right: none !important;
    border-left: none !important;
}

.read, .unread {
    cursor: pointer;
    &:hover {
        filter: brightness(var(--notif-hover-bg));
    }
}

.unread {
    background-color: var(--notif-unread-bg);
    font-weight: 500;
}

.read {
    background-color: var(--notif-read-bg);
    font-weight: 370;
}

.table-content {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
    padding: 0px 20px;
    width: 100%;
    max-width: 1200px !important;
}

.delete-btn {
    padding: 2px 5px;
    align-items: center;
    justify-content: center;
}