body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77b300 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding {
    float: left;
}

header #branding h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px;
}

.button {
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px 0;
    border-radius: 5px;
}

.button:hover {
    background: #d9534f;
}
.button-container {
    text-align: center;
    margin: 20px 0; /* Add some margin for better spacing */
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    display: flex;
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 10px 0;
    border-radius: 5px;
    justify-content: center;
    align-items: center;

}

.btn:hover {
    background: #d9534f;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.btn-primary {
    background-color: #333;
    border-color: #fff;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px; 
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #fff;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}


table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.message {
    list-style: none;
    width: calc(100% - 100px);
    padding: 10px 20px;
    border: 1px solid #ddd;
    margin-bottom: 10px; /* Add some spacing */
}

.success {
    background-color: #dff0d8;
    color: #468847;
    border-color: #d6e9c6;
}

.error {
    background-color: #f2dede;
    color: #a94442;
    border-color: #ededed;
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons a {
    background: #333;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
}

.action-buttons a:hover {
    background: #d9534f;
}

.toggle-button {
    background: #333;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}


.status-Waiting.for.Approval {
    background: yellow;
}

.status-Not.Sent {
    background: #b331a4;
    
}

.status-Rejected {
    background: red;
}

.satus-Approved {
    background: #5AA33F;
}

.status-filter {
    line-height: 30px; 
}
.Status-column {
    width: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}