@import url('color_pallette.css');

.summary {
    display: flex;
    justify-content: center;
    width: calc(100% - 25px);
}

.scroll-container {
    display: flex;
    align-items: center;
    position: relative;
}

.scrollcontainer {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: var(--sidebar-bg);
    border-radius: 10px;
    width: 95vw;
    max-width: 95vw;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollcontainer::-webkit-scrollbar {
    display: none;
}

.card {
    flex: 0 0 auto;
    min-width: 180px;
    height: min-content;
    margin-right: 20px;
    color: #fafafa !important;
    padding: 10px;
    background-color: #3f69ad !important;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
    overflow: hidden;
}

.scrollcontainer .card:last-child {
    margin: 0;
}

.card:hover {
    transform: scale(1.05);
}

.scroll-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-btn.left {
    left: 0;
}

.scroll-btn.right {
    right: 0;
}
.card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.card-prod {
    display: flex;
    justify-content: center;
    font-weight: 700;
}
.card-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: space-between;
}

.test-count ul, .status-info ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: start;
    width: min-content;
    font-size: 11px !important;
    background-color: #0000;
}

.card-status-button {
    width: 50.6px !important;
    height: 22px !important;
    font-size: 11px !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 1px solid black;
    border-radius: 5px;
    color: #eee !important;
    &:hover {
        filter: brightness(120%);
    }
    &:focus {
        outline: none;
        border: 1px solid black !important;
    }
}