@import url('color_pallette.css');

@media only screen and (max-device-width: 600px) {
    .card {
        flex-direction: column !important;
        gap: 10px;
    }
    .card-meta, .card-details, .card-dates, .card-status {
        width: 100% !important;
        padding-top: 10px;
        border-left: none !important;
        border-right: none !important;
    }
    .card-details, .card-dates, .card-status {
        border-top: 1px dotted #222 !important;
    }
}

.summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.scrollcontainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: var(--sidebar-bg);
    border-radius: 10px;
    width: 95vw;
    max-width: 95vw;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin: 0;
}

.scrollcontainer::-webkit-scrollbar {
    display: none;
}

.card {
    display: flex;
    flex-direction: row;
    /* gap: 10px; */
    min-width: 180px;
    height: min-content;
    color: #fafafa !important;
    padding: 10px;
    background-color: #3f69ad !important;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.01);
}

.scroll-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
}

.scroll-btn.left {
    left: 0;
}

.scroll-btn.right {
    right: 0;
}

.card-meta {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 20%;
}

.card-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 20%;
    border-left: 2px dotted #222;
    border-right: 2px dotted #222;
}

.card-dates {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 20%;
    border-right: 2px dotted #222;
}

.card-status {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    width: 40%;
}

.card-status-table {
    max-width: 90%;
    margin: 0;
    border: 0;
}
.card-status-table colgroup col {
    width: 5%;
    &:first-of-type{
        width: 15%;
    }
}
.card-status-table tr {
    & td:nth-of-type(2), td:nth-of-type(6), td:nth-of-type(10) {
        color: lime;
    }
    & td:nth-of-type(3), td:nth-of-type(7), td:nth-of-type(11) {
        color: yellow;
    }
    & th:nth-of-type(2), th:nth-of-type(4), th:nth-of-type(6) {
        border-radius: 13px;
        background-color: #989800;
    }
}
.card-status-table td, .card-status-table th {
    padding: 0;
    text-align: center;
    border: 0;
    background-color: transparent;
    color: #eee;
}

.card-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}
.card-timeline {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 10px;
}
.card-prod {
    display: flex;
    justify-content: center;
    font-weight: 700;
}
.card-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.card-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    justify-content: space-between;
}

.test-count ul, .status-info ul {
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: start;
    width: min-content;
    font-size: 11px !important;
    background-color: #0000;
}

.card-status-button {
    width: 50.6px !important;
    height: 22px !important;
    font-size: 11px !important;
    padding: 0 !important;
    margin: 0 !important;
    border: 1px solid black;
    border-radius: 5px;
    color: #eee !important;
    &:hover {
        filter: brightness(120%);
    }
    &:focus {
        outline: none;
        border: 1px solid black !important;
    }
}

.stage-button {
    display: flex;
    align-items: center;
}

.stage-display-btn {
    height: 20px;
    font-size: 12px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:nth-child(1) {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
        border-right: 1px solid #8ea0ba !important;
    }
    &:nth-child(2) {
        width: 20px !important;
        border-radius: 0 !important;
        border-left: 1px solid #8ea0ba !important;
        border-right: 1px solid #8ea0ba !important;
    }
    &:nth-child(3) {
        width: 25px !important;
        border-left: 1px solid #8ea0ba !important;
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }
}