@import url('color_pallette.css');

table {
    border: 1px solid black;
    border-collapse: collapse;
    border-bottom: 1px solid black;
    width: 100%;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    vertical-align: middle;
    padding: 2px 3px 2px 5px;
    line-height: 90%;
}

.additional_details {
    font-family: Arial;
    font-size: 13px;
}

p {
    font-family: Arial;
    font-size: 13px;
    margin: 0;
}

span {
    font-family: Arial;
    font-size: 13px;
    margin: 0;
}

.form-container {
    flex-direction: column;
    width: 96%;
    max-width: 700px;
    margin-bottom: 15px;
    transition: right 0.3s ease;
    right: 0;
}

.page-break-indicator {
    border-top: solid black;
    width: 100%;
}

.custom-btn-small {
    padding: 5px 10px;
    font-size: 13px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.action-buttons .button {
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background-color: #333;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.action-buttons .button:hover {
    background-color: #0056b3;
}

.dropdown-item {
    color: var(--webkit-text-fill-color);
    &:hover {
        color: var(--webkit-text-fill-color);
        background-color: var(--form-field-bg);
    }
}

.report-container {
    position: relative;
    width: 100%;
}

.toggle-remarks-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    font-size: 17px;
    top: 100px;
    right: 20px;
    /* padding: 10px 15px; */
    height: 50px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    &:hover {
        background-color: #0056b3;
    }
}
  
#remarks-section {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 52px;
    max-width: 100vw;
    right: -350px;
    width: 350px;
    height: calc(100% - 52px);
    background-color: #f4f4f4;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    transition: right 0.3s ease;
    background-color: var(--background-area);
    overflow: auto;
    &.visible {
        right: 0;
    }
}

h5 {
    margin: 0;
}

.remarks-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    /* justify-content: center; */
}

.close-remarks-btn {
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50% !important;
    background-color: transparent;
    line-height: 0.5;
    letter-spacing: 1px;
    height: 30px;
    width: 30px;
    &:hover {
        background-color: var(--background-area);
    }
}

span.close {
    transform: translate(21.5%, 6%);
    color: var(--date-text-color) !important;
}

.popup  {
    background-color: #414141 !important;
    gap: 10px;
    padding: 3px;
    border-radius: 5px;
}

.popup button {
    height: auto;
    padding: 0;
    background-color: transparent;
    &:hover {
        background-color: #333;
    }
}

div.add-border {
    outline: 2px solid rgb(20, 20, 255);
}

.comment-btn {
    margin-left: 3px;
}

.strikethrough-btn {
    margin-right: 3px;
}

.add-comment-box {
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
  
.add-comment {
    width: 100%;
    padding: 5px 40px 5px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    color: var(--webkit-text-fill-color);
    border-radius: 5px;
    resize: vertical;
    overflow-y: auto;
    height: 39px;
}

.comment-body {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
}
  
.send-button {
    margin-left: -50px;
    font-size: 14px;
    padding: 0px 10px;
    height: max-content;
    background-color: transparent;
    color: var(--post-button-color) !important;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

div.remark {
    display: inline;
    &.highlight {
        background-color: yellow;
    }
    &.strikethrough {
        text-decoration: line-through;
    }
    &.underline {
        text-decoration: underline;
    }
}

.comment-box {
    background-color: var(--form-field-bg);
    margin-bottom: 10px;
    border-radius: 4px;
}

.comment-header {
    display: flex;
    flex-direction: row;
    gap: 7px;
    padding: 5px 0px 0px 5px;
    align-items: center;
}

.comment-icon {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--barry);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
}

.comment-icon svg {
    fill: var(--webkit-text-fill-color);
}

.comment-from {
    font-size: 15px;
}

.comment-date {
    font-size: 13px;
    color: var(--date-text-color);
}

.delete-btn {
    height: 18px;
    display: flex;
    margin-left: auto;
    margin-right: 10px;
    & svg {
        fill: var(--webkit-text-fill-color);
        &:hover {
            fill: rgb(206, 0, 0);
        }
    }
    &:hover {
        cursor: pointer;
    }
    & .resolve-btn {
        font-size: 12px;
        font-weight: 500;
        &:hover {
            color: red;
        }
    }
}

.comment-content {
    font-size: 14px;
    padding: 5px 20px;
}

.add-comment-box-2 {
    display: none;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
}

.comment-content-input {
    width: 90%;
    padding: 5px 40px 5px 10px;
    font-size: 14px;
    color: var(--webkit-text-fill-color);
    border-radius: 5px;
    resize: vertical;
    overflow-y: auto;
    height: 39px;
    &:focus {
        outline: none;
    }
}

.italics {
    font-style: italic;
}