<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        .inline {
            display: inline;
        }
    </style>
    {% load static%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Access Denied</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/remark.css' %}">
    
    <body>
        <div class="header">
            <div></div>
            <div class="right-icon">
                <div class="theme-toggle-btn">
                    <input type="checkbox" class="theme-checkbox" id="theme-checkbox">
                    <label style="margin-bottom: 0px;" for="theme-checkbox" class="theme-checkbox-label">
                        <i class="fas fa-moon"></i>
                        <i class="fas fa-sun"></i>
                        <span class="theme-ball"></span>
                    </label>
                </div>
                <button class="user-btn" id="userButton" onclick="toggleUserInfo()">
                    <span class="icon" id="userButtonIcon">{{icon}}</span>
                </button>
                <div class="user-info" id="userInfo">
                    <span>
                        <p class="name">Name: {{ first_name }} {{ last_name }}</p>
                        <p class="mail">Email: {{ username }}</p>
                    </span>
                    <span style="display: flex; align-items: center; justify-content: center;">
                        <a class="logout-btn"  onclick="logoutUser()">Logout</a>
                    </span>
                </div>
            </div>
        </div>
        <h1>Access Denied</h1>
        <p>You do not have permission to access this page.</p>
        <br>
        <span class="inline">Click here to return to 
        {% if user.user_type == 'owner' %}
            <a href="{% url 'dashboard' %}">dashboard</a>
        {% elif user.user_type == 'brand' %}
            <a href="{% url 'brand_dashboard' %}">dashboard</a>
        {% elif user.user_type == 'legal' %}
            <a href="{% url 'legal_dashboard' %}">dashboard</a>
        {% elif user.user_type == 'employee' %}
            <a href="{% url 'employee_dashboard' %}">dashboard</a>
        {% endif %}
        </span>

    <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
    </body>
</html>