<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" href="{% static 'icons/webpage.png' %}">
    <title>Admin</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/multiselect.css' %}">
</head>
<body>
    {% include "header_PO.html" %}
    {% if messages %}
        <span class="message-container">
            {% for message in messages %}
                <span class="message {{ message.level_tag }}">
                    {{ message }}
                </span>
                <div class="timer-bar"></div>
            {% endfor %}
        </span>
    {% endif %}
    <div class="content">
        <div class="table-container table-container-unapproved" id="unapproved">
            <span class="caption">Unapproved Users</span>
            <table class="unapproved">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>User Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% if unapproved %}
                    {% for user in unapproved %}
                    <tr>
                        <td>{{ user.first_name}} {{user.last_name}}</td>
                        <td>{{user.username}}</td>
                        <td>
                            <div id="user-type">
                                <select onchange="product_visibility(this)" id="User-type-options" name="User-type-options" data-placeholder="Select User Type">
                                    <option style="display: none;" value="Select User Type" selected>Select User Type</option>
                                    {% for ut in user_types %}
                                        <option value="{{ ut }}">{{ ut }}</option>
                                    {% endfor %}
                                </select>
                                <select id="Product-type-options" name="Product-type-options" data-placeholder="Select Product Type" multiple data-multi-select>
                                    {% for pt in product_types %}
                                        <option value="{{ pt }}">{{ pt }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="button-container">
                                <button class="btn btn-primary" onclick="approveUser(this, '{{ user.username }}')">Approve</button>
                                <button class="btn btn-danger" onclick="removeUser(this, '{{ user.username }}')">Reject</button>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr><td style="border: none;">No unapproved users.</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="table-container table-container-approved" id="approved">
            <span class="caption">Approved User</span>
            {% if approved %}
            <table class="approved owner">
                <caption class="owner-caption">Product Team</caption>
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>User Type</th>
                        <th>Product Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in approved %}
                    {% if user.user_type == 'owner' %}
                    <tr>
                        <td>{{ user.first_name}} {{user.last_name}}</td>
                        <td>{{user.username}}</td>
                        <td>
                            <select onchange="product_visibility(this)" id="User-type-options" name="User-type-options" data-placeholder="Select User Type">
                                <option style="display: none;" selected value="owner">Product Owner</option>
                                {% for ut in user_types %}
                                    <option value="{{ ut }}">{{ ut }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select id="Product-type-options" name="Product-type-options" data-placeholder="Select Product Type" multiple data-multi-select>
                                {% for pt, bul in user.product_type.items %}
                                    {% if bul %}
                                        <option selected value="{{ pt }}">{{ pt }}</option>
                                    {% else %}
                                        <option value="{{ pt }}">{{ pt }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <div class="button-container">
                                <button class="btn btn-primary-change" onclick="updateUser(this, '{{ user.username }}')">Update</button>
                                <button class="btn btn-danger" onclick="removeUser(this, '{{ user.username }}')">
                                    <svg class="icon-delete" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                                        <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <table class="approved employee">
                <caption class="tester-caption">Tester Team</caption>
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>User Type</th>
                        <th>Product Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in approved %}
                    {% if user.user_type == 'employee' %}
                    <tr>
                        <td>{{ user.first_name}} {{user.last_name}}</td>
                        <td>{{user.username}}</td>
                        <td>
                            <select onchange="product_visibility(this)" id="User-type-options" name="User-type-options" data-placeholder="Select User Type">
                                <option style="display: none;" selected value="employee">Tester</option>
                                {% for ut in user_types %}
                                    <option value="{{ ut }}">{{ ut }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select id="Product-type-options" name="Product-type-options" data-placeholder="Select Product Type" multiple data-multi-select>
                                {% for pt, bul in user.product_type.items %}
                                    {% if bul %}
                                        <option selected value="{{ pt }}">{{ pt }}</option>
                                    {% else %}
                                        <option value="{{ pt }}">{{ pt }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <div class="button-container">
                                <button class="btn btn-primary-change" onclick="updateUser(this, '{{ user.username }}')">Update</button>
                                <button class="btn btn-danger" onclick="removeUser(this, '{{ user.username }}')">
                                    <svg class="icon-delete" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                                        <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <table class="approved brand">
                <caption class="brand-caption">Brand Team</caption>
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>User Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in approved %}
                    {% if user.user_type == 'brand' %}
                    <tr>
                        <td>{{ user.first_name}} {{user.last_name}}</td>
                        <td>{{user.username}}</td>
                        <td>
                            <div id="user-type">
                                <select onchange="product_visibility(this)" id="User-type-options" name="User-type-options" data-placeholder="Brand">
                                    <option style="display: none;" value="Brand" selected>Brand</option>
                                    {% for ut in user_types %}
                                        <option value="{{ ut }}">{{ ut }}</option>
                                    {% endfor %}
                                </select>
                                <select id="Product-type-options" name="Product-type-options" data-placeholder="Select Product Type" multiple data-multi-select>
                                    {% for pt in product_types %}
                                        <option value="{{ pt }}">{{ pt }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="button-container">
                                <button class="btn btn-primary-change" onclick="updateUser(this, '{{ user.username }}')">Update</button>
                                <button class="btn btn-danger" onclick="removeUser(this, '{{ user.username }}')">
                                    <svg class="icon-delete" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                                        <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            <table class="approved legal">
                <caption class="legal-caption">Legal Team</caption>
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>User Type</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in approved %}
                    {% if user.user_type == 'legal' %}
                    <tr>
                        <td>{{ user.first_name}} {{user.last_name}}</td>
                        <td>{{user.username}}</td>
                        <td>
                            <div id="user-type">
                                <select onchange="product_visibility(this)" id="User-type-options" name="User-type-options" data-placeholder="Legal">
                                    <option style="display: none;" value="Legal" selected>Legal</option>
                                    {% for ut in user_types %}
                                        <option value="{{ ut }}">{{ ut }}</option>
                                    {% endfor %}
                                </select>
                                <select id="Product-type-options" name="Product-type-options" data-placeholder="Select Product Type" multiple data-multi-select>
                                    {% for pt in product_types %}
                                        <option value="{{ pt }}">{{ pt }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="button-container">
                                <button class="btn btn-primary-change" onclick="updateUser(this, '{{ user.username }}')">Update</button>
                                <button class="btn btn-danger" onclick="removeUser(this, '{{ user.username }}')">
                                    <svg class="icon-delete" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                                        <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>No approved users found.</p>
            {% endif %}
        </div>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var messageContainer = document.querySelector('.message-container');
        var timerBar = document.querySelector('.timer-bar');
        var header = document.querySelector('.header');

        if (messageContainer && timerBar && header) {
            var headerRect = header.getBoundingClientRect();
            var headerHeight = headerRect.height;
            var headerTop = headerRect.top + window.scrollY;
            messageContainer.style.top = `${headerTop + headerHeight}px`;
            timerBar.style.width = '0%';

            setTimeout(function() {
                messageContainer.style.top = `-${messageContainer.offsetHeight}px`;
            }, 5000);
        }
    });
</script>
<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
<script type="text/javascript" src="{% static 'js/multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'js/admin.js' %}"></script>
</body>