<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load static%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cooling Test Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/view_record.css' %}">
</head>
<body>
<form class="mx-auto card p-3 shadow-lg form-container" method="post" action="{% url 'cooling' test_name=test_name model_name=model_name serialno=serialno %}"  enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    <!-- {{ form.as_p }} -->
    <p style='margin:0cm;text-align:center;vertical-align:baseline;'><strong><u><span style='font-size:24px;'>{{TestProtocol.TestName}}</span></u></strong></p>
    <div style="margin: 6px;"></div>
    <table>
        <tbody>
            <tr>
                <td>
                    <strong><span class="row_header">Test Objective</span></strong>
                </td>
                <td colspan="4">
                    <span>{{TestProtocol.Test_Objective}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong><span class="row_header">Model No.</span></strong>
                </td>
                <td colspan="4">
                    <span>{{model.ModelName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong><span class="row_header">Sample Quantity</span></strong>
                </td>
                <td colspan="4">
                    <span>{{form.sample_quantiy}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong><span class="row_header">Serial No.</span></strong>
                </td>
                <td colspan="4">
                    <span>{{serialno}}</span>
                   
                </td>
            </tr>
            <tr>
                <td rowspan="10">
                    <strong><span class="row_header">Set Details</span></strong>
                </td>
                <td colspan="4">
                    <span>Report verification Date: {{form.test_date}}</span>
                </td>
                
            </tr>
            <tr>
                <td colspan="2">
                    <span>Start Date: {{testdetail.test_start_date|date:"d/m/Y"}}</span>
                </td>
                <td colspan="2">
                    <span>End Date: {{testdetail.test_end_date|date:"d/m/Y"}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span>Indoor unit details</span>
                </td>
                <td colspan="2">
                    <span>Outdoor unit details</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Model</span>
                </td>
                <td>
                    <span>{{model.ModelName}}</span>
                </td>
                <td>
                    <span>Model</span>
                </td>
                <td>
                    <span>{{model.ModelName}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>S.</span><span>N</span><span>o</span><span>.</span>
                </td>
                <td>
                    <span>N/A</span>
                </td>
                <td>
                    <span>S.</span><span>N</span><span>o</span><span>.</span>
                </td>
                <td>
                    <span>N/A</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Bl. Motor</span>
                </td>
                <td>
                    <span>{{model.BImotor}}</span>
                </td>
                <td>
                    <span>Compressor</span>
                </td>
                <td>
                    <span>{{model.Compressor}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Blower</span>
                </td>
                <td>
                    <span>{{model.Blower}}</span>
                </td>
                <td>
                    <span>Fan motor</span>
                </td>
                <td>
                    <span>{{model.FanMotor}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Eva. Coil</span>
                </td>
                <td>
                    <span>{{model.Eva}}</span>
                </td>
                <td>
                    <span>Fan</span>
                </td>
                <td>
                    <span>{{model.Fan}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Conn. Pipe</span>
                </td>
                <td>
                    <span>{{model.ConPipe}}</span>
                </td>
                <td>
                    <span>Cond. Coil</span>
                </td>
                <td>
                    <span>{{model.CondCoil}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Ref. Charge</span>
                </td>
                <td>
                    <span>{{model.RefCharge}}</span>
                </td>
                <td>
                    <span>Capillary tube</span>
                </td>
                <td>
                    <span>{{model.Capilary}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong><span class="row_header">Test Standard</span></strong>
                </td>
                <td colspan="4">
                    <span>{{TestProtocol.Test_Standard}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong><span class="row_header">Test Condition</span></strong>
                </td>
                <td colspan="4">
                    <span> {{TestProtocol.Test_Condition|linebreaksbr }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong><span class="row_header">Test Procedure</span></strong>
                </td>
                <td colspan="4">
                    <span> {{TestProtocol.Test_Procedure|linebreaksbr }}</span> 
                </td>
            </tr>
            <tr>
                <td>
                    <strong><span class="row_header">Judgement Criteria</span></strong>
                </td>
                <td colspan="4">
                    <span> {{TestProtocol.Judgement|linebreaksbr }}</span>  
                </td>
            </tr>
            <tr>
                <td>
                    <strong><span class="row_header">Instrument / Equipment used</span></strong>
                </td>
                <td colspan="4">
                    <span>{{TestProtocol.Instrument}}</span>
                </td>
            </tr>
            <tr>
                <td rowspan="2">
                    <strong><span class="row_header">Result &amp; Conclusion</span></strong>
                </td>
                <td colspan="4">
                    <span>{{form.result}}</span>
                </td>
            </tr>
        </tbody>
    </table>
<!-- <div style="margin: 20px;"></div> -->
<hr class="page-break-indicator">

<!-- this code doesnt work as additional_details isnt a string
 so if condition just defaults to True -->
{% if testdetail.additional_details != '' %}
<div class="additional_details">{{ form.additional_details }}</div>
{% else %}
<button id="addPageButton" type="button" class="btn btn-primary custom-btn-small">Add page</button>
<div class="additional_details" style="display: none;">{{ form.additional_details }}</div>
{% endif %}
<div style="margin: 10px;"></div>
<button type="submit" class="btn btn-primary custom-btn-small">Submit</button>
</form>
<script>
    const addPageButton = document.getElementById("addPageButton");
    const additionalDetails = document.querySelector(".additional_details"); // Use querySelector for class

    addPageButton.addEventListener("click", function() {
        additionalDetails.style.display = "block";
        addPageButton.style.display = "none";
    });
</script>
</body>
</html>