<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" href="{% static 'icons/webpage.png' %}">
    <title>Brand Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/color_pallette.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
{% include "header_plain.html" %}
<div class="main-content">
    <div class="overlay" id="overlay" onclick="toggleFilter()"></div>
    <div class="popup" id="filterPopup">
        <span class="close" onclick="toggleFilter()">&times;</span>
        <form id="filter-form" method="get" action="{% url 'brand_dashboard' %}">
            <div>
                <label for="product">Product Type:</label>
                <select class="form-control filter-form-control" id="product" name="product" onchange="populateModels({{models_list}}); populateTestName({{test}});">
                    <option value="">Select Product Type</option>
                    {% for prod in products %}
                        <option value="{{prod}}" {% if product == prod %}selected{% endif %}>{{prod}}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <label for="test_stage">Test Stage:</label>
                <select class="form-control filter-form-control" id="test_stage" name="test_stage" onchange="populateTestName({{test}});">
                    <option value="">Select Test Stage</option>
                    <option value="DVT" {%if test_stage == 'DVT'%}selected{%endif%}>DVT</option>
                    <option value="PP"{%if test_stage == 'PP'%}selected{%endif%}>PP</option>
                    <option value="MP"{%if test_stage == 'MP'%}selected{%endif%}>MP</option>
                </select>
            </div>
            <div>
                <label for="model_name">Model Name:</label>
                <select class="form-control filter-form-control" id="model_name" name="model_name">
                    <option value="">{{model_name}}</option>
                </select>
            </div>
            <div>
                <label for="test_name">Test Name:</label>
                <select class="form-control filter-form-control" id="test_name" name="test_name">
                    <option value="">Select Test Name</option>
                </select>
            </div>
            <div>
                <label for="serial_number">Serial Number:</label>
                <input class="form-control filter-form-control" type="text" id="serial_number" name="serial_number" value="{{ serial_number }}">
            </div>
            <div>
                <label for="B_status">Status:</label>
                <select class="form-control filter-form-control" id="B_status" name="B_status">
                    <option value="">All</option>
                    <option value="Not Sent"{%if B_status == 'Not Sent'%}selected{%endif%}>Not Sent</option>
                    <option value="Waiting"  {%if B_status == 'Waiting'%}selected{%endif%}>Waiting</option>
                    <option value="Approved" {%if B_status == 'Approved'%}selected{%endif%}>Approved</option>
                    <option value="Rejected"{%if B_status == 'Rejected'%}selected{%endif%}>Rejected</option>
                </select>
            </div>
            <span class="date-filter">
                <div class="start-date">
                    <label for="start_date">Start Date:</label>
                    <input class="form-control filter-form-control" type="date" id="start_date" name="start_date" value="{{ start_date }}">
                </div>
                <div class="end-date">
                    <label for="end_date">End Date:</label>
                    <input class="form-control filter-form-control" type="date" id="end_date" name="end_date" value="{{ end_date }}">
                </div>
            </span>
          
            <div class="button-container">
                <button type="submit" class="button filter-btn" >Filter</button>
                <button type="button" class="button filter-btn" onclick="clearFilter()">Clear Filters</button>
            </div>
        </form>
    </div>
    
    <div class="content">
        {% if messages %}
            <span class="message-container">
                {% for message in messages %}
                    <span class="message {{ message.level_tag }}">
                        {{ message }}
                    </span>
                    <div class="timer-bar timer-{{ message.level_tag }}"></div>
                {% endfor %}
            </span>
        {% endif %}
        <span class="heading">
            <h1 class="headding">Dashboard</h1>
            <button class="action-button" onclick="toggleFilter()">
                <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e8eaed"><path d="M440-160q-17 0-28.5-11.5T400-200v-240L168-736q-15-20-4.5-42t36.5-22h560q26 0 36.5 22t-4.5 42L560-440v240q0 17-11.5 28.5T520-160h-80Zm40-308 198-252H282l198 252Zm0 0Z"/>
                </svg>Filter
            </button>
        </span>
        <div class="table-containers">
            <table class="table main-table main-table-bl table-bordered">
                <colgroup>
                    <col>
                    <col>
                    <col>
                    <col>
                    <col>
                </colgroup>
                <thead>
                <tr>
                    <th>
                        <button class="collapse-button master-collapse-button" type="button" onclick="toggleAllCollapseButtons()">
                            <i class="fas fa-chevron-down fa-sm"></i>
                        </button>
                    </th>
                    <th>Product</th>
                    <th>Model Name</th>
                    <th>Stage</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for test in tests %}
                <tr>
                    <td class="coll-btn-cell">
                        <button class="collapse-button" type="button" data-toggle="collapse"
                                data-target="#testList{{ forloop.counter }}" aria-expanded="false"
                                aria-controls="testList{{ forloop.counter }}" onclick="toggleCollapseIcon(this)">
                            <i class="fas fa-chevron-down fa-sm collapse-arrow" id="icon{{ forloop.counter }}"></i>
                        </button>
                    </td>
                    <td>{{ test.ProductType }}</td>
                    <td><p class="model-name">{{ test.ModelName }}</p></td>
                    <td>
                        <div class="stage-btn">
                            <button class="stage-filter-btn" type="button" onclick="filterOnStage(this, 'DVT')">DVT</button>
                            <button class="stage-filter-btn" type="button" onclick="filterOnStage(this, 'PP')">PP</button>
                            <button class="stage-filter-btn" type="button" onclick="filterOnStage(this, 'MP')">MP</button>
                        </div>
                    </td>
                    <td>
                        <button class="action-button" name="action" value="generate_pdf" type="submit" onclick="submitRowForm(this)"><svg class="icon" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e8eaed">
                            <path d="M360-460h40v-80h40q17 0 28.5-11.5T480-580v-40q0-17-11.5-28.5T440-660h-80v200Zm40-120v-40h40v40h-40Zm120 120h80q17 0 28.5-11.5T640-500v-120q0-17-11.5-28.5T600-660h-80v200Zm40-40v-120h40v120h-40Zm120 40h40v-80h40v-40h-40v-40h40v-40h-80v200ZM320-240q-33 0-56.5-23.5T240-320v-480q0-33 23.5-56.5T320-880h480q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H320Zm0-80h480v-480H320v480ZM160-80q-33 0-56.5-23.5T80-160v-560h80v560h560v80H160Zm160-720v480-480Z"/>
                        </svg>&nbsp;Download</button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                        <form method="POST" action="{% url 'handle_selected_tests' test.ProductType test.ModelName 'null' %}"></form>
                            <div class="collapse" id="testList{{ forloop.counter }}">
                                <table class="table drop-table drop-table-bl">
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th class="checkbox-cell">
                                                <input type="checkbox" id="select-all-{{ forloop.counter }}">
                                            </th>
                                            <th>Test Name</th>
                                            <th>Stage</th>
                                            <th>Date</th>
                                            <th>Product Owner</th>
                                            <th>Serial No</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for subtest in all_tests %}
                                        {% if subtest.ModelName == test.ModelName %}
                                        <tr>
                                            <td class="checkbox-cell">
                                                <input type="checkbox" name="selected_tests" value="{{ subtest.id }}">
                                            </td>
                                            <td><p class="test-name">{{ subtest.TestName }}</p></td>
                                            <td>{{ subtest.TestStage }}</td>
                                            <td>{{ subtest.test_end_date|date:'d/m/Y' }}</td>
                                            <td><p class="employee-name">{{ subtest.owner_name }}</p></td>
                                            <td>{{ subtest.SerailNo }}</td>
                                            <td>
                                                <div class = "status-button">
                                                    <span id="status-toggle-{{ test.id }}" class="toggle-button status-{{ subtest.B_status }}" style = "padding: 5px 10px;border-radius: 3px;">
                                                        {{ subtest.B_status }}
                                                    </span>
                                                </div>
                                            </td>
                                            <td class="action-buttons">
                                                <a href="{% url 'brand_view' subtest.TestStage subtest.ProductType subtest.TestName subtest.ModelName subtest.SerailNo %}"
                                                    class="btn btn-primary">View</a>
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
<script type="text/javascript" src="{% static 'js/filter.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Select all checkboxes when the "select-all" checkbox is clicked
        document.querySelectorAll('[id^="select-all-"]').forEach(checkbox => {
            checkbox.addEventListener('click', function(event) {
                const table = event.target.closest('table'); // Find the closest table
                const checkboxes = table.querySelectorAll('td input[type="checkbox"]'); // Get all checkboxes within the table
                for (const checkbox of checkboxes) {
                    checkbox.checked = event.target.checked;
                }
            });
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
        var messageContainer = document.querySelector('.message-container');
        var timerBar = document.querySelector('.timer-bar');
        var header = document.querySelector('.header');

        if (messageContainer && timerBar && header) {
            var headerRect = header.getBoundingClientRect();
            var headerHeight = headerRect.height;
            var headerTop = headerRect.top + window.scrollY;
            messageContainer.style.top = `${headerTop + headerHeight}px`;
            timerBar.style.width = '0%';

            setTimeout(function() {
                messageContainer.style.top = `-${messageContainer.offsetHeight}px`;
            }, 5000);
        }
    });

    document.addEventListener("DOMContentLoaded", function() {
        populateModels({{models_list|safe}});
        populateTestName({{test|safe}});
    });
</script>
</body>
</html>