<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" href="{% static 'icons/webpage.png' %}">
    <title>Product Owner Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
{% include "header_PO.html" %}
<div class="overlay" id="overlay" onclick="toggleFilter()"></div>

<!-- Filter Popup -->
<div class="popup" id="filterPopup">
    <span class="close" onclick="toggleFilter()">&times;</span>
    <form id="filter-form" method="get" action="{% url 'dashboard' %}">
        <div>
            <label for="product">Product Type:</label>
            <select class="form-control filter-form-control" id="product" name="product" onchange="populateModels(); populateTestName();">
                <option value="">Select Product Type</option>
                <option value="TV"{%if product == 'TV'%}selected{%endif%}>TV</option>
                <option value="AC" {%if product == 'AC'%}selected{%endif%}>AC</option>
                <option value="Phone"{%if product == 'Phone'%}selected{%endif%}>Phone</option>
                <option value="Washing_Machine"{%if product == 'Washing_Machine'%}selected{%endif%}>Washing Machine</option>
            </select>
        </div>
        <div>
            <label for="test_stage">Test Stage:</label>
            <select class="form-control filter-form-control" id="test_stage" name="test_stage" onchange="populateTestName();">
                <option value="">Select Test Stage</option>
                <option value="DVT" {%if test_stage == 'DVT'%}selected{%endif%}>DVT</option>
                <option value="PP"{%if test_stage == 'PP'%}selected{%endif%}>PP</option>
                <option value="MP"{%if test_stage == 'MP'%}selected{%endif%}>MP</option>
            </select>
        </div>
        <div>
            <label for="model_name">Model Name:</label>
            <select class="form-control filter-form-control" id="model_name" name="model_name">
                <!-- Model options will be populated dynamically based on the selected product type -->
                {% comment %} {%if model_name%}<option value={{model_name}} selected>{{model_name}}</option>{%endif%} {% endcomment %}
                <option value="">{{model_name}}</option>
            </select>
        </div>
        <div>
            <label for="test_name">Test Name:</label>
            <select class="form-control filter-form-control" id="test_name" name="test_name">
                <option value="">Select Test Name</option>
            </select>
        </div>
        <div>
            <label for="serial_number">Serial Number:</label>
            <input class="form-control filter-form-control" type="text" id="serial_number" name="serial_number" value="{{ serial_number }}">
        </div>
        <!-- <label for="status-filter">Status:</label> -->
        <span class="status-filter" id="status-filter">
            <span class="PO-status">
                <label for="PO_status">Tester Status:</label>
                <select class="form-control filter-form-control" id="PO_status" name="status">
                    <option value="">All</option>
                    {% for stat, clr in status_color.items %}
                        <option value="{{stat}}" {% if status ==  stat  %}selected{% endif %}>{{stat}}</option>
                    {% endfor %}
                </select>
            </span>
            <span class="L-status">
                <label for="L_status">Legal Status:</label>
                <select class="form-control filter-form-control" id="L_status" name="L_status">
                    <option value="">All</option>
                    {% for stat, clr in status_color.items %}
                        <option value="{{stat}}" {% if L_status ==  stat  %}selected{% endif %}>{{stat}}</option>
                    {% endfor %}
                </select>
            </span>
            <span class="B-status">
                <label for="B_status">Brand Status:</label>
                <select class="form-control filter-form-control"  id="B_status" name="B_status">
                    <option value="">All</option>
                    {% for stat, clr in status_color.items %}
                        <option value="{{stat}}" {% if B_status ==  stat  %}selected{% endif %}>{{stat}}</option>
                    {% endfor %}
                </select>
            </span>
        </span>
        <span class="date-filter">
            <div class="start-date">
                <label for="start_date">Start Date:</label>
                <input class="form-control filter-form-control" type="date" id="start_date" name="start_date" value="{{ start_date }}">
            </div>
            <div class="end-date">
                <label for="end_date">End Date:</label>
                <input class="form-control filter-form-control" type="date" id="end_date" name="end_date" value="{{ end_date }}">
            </div>
        </span>
      
        <div class="button-container">
            <button type="submit" class="button filter-btn" >Filter</button>
            <button type="button" class="button filter-btn" onclick="clearFilter()">Clear Filters</button>
        </div>
    </form>
</div>
<!-- Content table -->
    <div class="content">
        {% if messages %}
            <span class="message-container">
                {% for message in messages %}
                    <span class="message {{ message.level_tag }}">
                        {{ message }}
                    </span>
                    <div class="timer-bar timer-{{ message.level_tag }}"></div>
                {% endfor %}
            </span>
        {% endif %}
        <div class="sub-header">
            <span class="heading">
                <h1 class="headding">Dashboard</h1>
                <div class="filter-buttons">
                    <button class="action-button" onclick="deactivateFilter()">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e8eaed">
                            <path d="m569-492-51-52 125-152H366l-72-72h450q14.89 0 21.45 13.5Q772-741 763-729L569-492Zm-41 162v114q0 10.2-6.88 17.1-6.89 6.9-17.06 6.9h-47.88Q446-192 439-198.9t-7-17.1v-210L115.03-742.97Q104-754 104-768.67q0-14.66 11-25.33 10.67-11 25.33-11 14.67 0 25.77 11.1l627.8 627.8Q805-155 805-141q0 14-11 25.48Q783-105 768.5-105T743-116L528-330Zm-10-214Z"/>
                        </svg>Clear Filter
                    </button>
                    <button class="action-button" onclick="toggleFilter()">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e8eaed">
                            <path d="M440-160q-17 0-28.5-11.5T400-200v-240L168-736q-15-20-4.5-42t36.5-22h560q26 0 36.5 22t-4.5 42L560-440v240q0 17-11.5 28.5T520-160h-80Zm40-308 198-252H282l198 252Zm0 0Z"/>
                        </svg>Filter
                    </button>
                </div>
            </span>
            <div class="summary">
                <div class="scroll-container">
                    <div class="scrollcontainer">
                        {% for sum in summary_data %}
                        <div class="card" onclick="navigateToPage(this)">
                            <div class="card-title">
                                <div class="card-prod">
                                    <span>{{sum.Meta.0}}</span>
                                </div>
                                <div class="card-heading">
                                    <span class="model">{{sum.Meta.1}}</span>
                                    <span class="stage">{{sum.Meta.2}}</span>
                                </div>
                            </div>
                            <div class="card-content">
                                <span class="test-count">
                                    <ul>
                                        <li>Total: {{sum.Count.0}}</li>
                                        <li style="color: yellow;">Submitted: {{sum.Count.1}}</li>
                                        <li style="color: lime;">Approved: {{sum.Count.2}}</li>
                                        <li style="color: red;">Not Submitted: {{sum.Count.3}}</li>
                                    </ul>
                                </span>
                                <span class="status-info">
                                    <ul>
                                        <li style="background-color: {{sum.Status.0}};">Product</li>
                                        <li style="background-color: {{sum.Status.1}};">Brand</li>
                                        <li style="background-color: {{sum.Status.2}};">Legal</li>
                                    </ul>
                                </span>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <form method="POST" action="{% url 'handle_selected_tests' %}">
            {% csrf_token %}
            <div class="table-containers">
                <table class="table main-table table-bordered">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <button class="collapse-button master-collapse-button" type="button" onclick="toggleAllCollapseButtons()">
                                <i class="fas fa-chevron-down fa-sm"></i>
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Model Name</th>
                        <th>Stage</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for test in tests %}
                    <tr>
                        <td class="coll-btn-cell">
                            <button class="collapse-button" type="button" data-toggle="collapse"
                                    data-target="#testList{{ forloop.counter }}" aria-expanded="false"
                                    aria-controls="testList{{ forloop.counter }}" onclick="toggleCollapseIcon(this)">
                                <i class="fas fa-chevron-down fa-sm collapse-arrow" id="icon{{ forloop.counter }}"></i>
                            </button>
                        </td>
                        <td>{{ test.ProductType }}</td>
                        <td><p class="model-name">{{ test.ModelName }}</p></td>
                        <td>
                            <div class="stage-btn">
                                <button class="stage-filter-btn" type="button" onclick="filterOnStage(this, 'DVT')">DVT</button>
                                <button class="stage-filter-btn" type="button" onclick="filterOnStage(this, 'PP')">PP</button>
                                <button class="stage-filter-btn" type="button" onclick="filterOnStage(this, 'MP')">MP</button>
                            </div>
                        </td>
                        <td>
                            <div style="display: flex; gap: 5px">
                                <button class="action-button" name="action" value="generate_pdf" type="submit"><svg class="icon" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e8eaed">
                                    <path d="M360-460h40v-80h40q17 0 28.5-11.5T480-580v-40q0-17-11.5-28.5T440-660h-80v200Zm40-120v-40h40v40h-40Zm120 120h80q17 0 28.5-11.5T640-500v-120q0-17-11.5-28.5T600-660h-80v200Zm40-40v-120h40v120h-40Zm120 40h40v-80h40v-40h-40v-40h40v-40h-80v200ZM320-240q-33 0-56.5-23.5T240-320v-480q0-33 23.5-56.5T320-880h480q33 0 56.5 23.5T880-800v480q0 33-23.5 56.5T800-240H320Zm0-80h480v-480H320v480ZM160-80q-33 0-56.5-23.5T80-160v-560h80v560h560v80H160Zm160-720v480-480Z"/>
                                    </svg>&nbsp;Download</button>
                                <button class="action-button" name="action" value="send_legal" type="submit"><svg class="icon" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e8eaed" transform="rotate(-45 0 0)">
                                    <path d="M792-443 176-183q-20 8-38-3.5T120-220v-520q0-22 18-33.5t38-3.5l616 260q25 11 25 37t-25 37ZM200-280l474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/>
                                    </svg>Legal</button>
                                <button class="action-button" name="action" value="send_brand" type="submit"><svg class="icon" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e8eaed" transform="rotate(-45 0 0)">
                                    <path d="M792-443 176-183q-20 8-38-3.5T120-220v-520q0-22 18-33.5t38-3.5l616 260q25 11 25 37t-25 37ZM200-280l474-200-474-200v140l240 60-240 60v140Zm0 0v-400 400Z"/>
                                    </svg>Brand</button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <div class="collapse" id="testList{{ forloop.counter }}">
                                <table class="table drop-table">
                                    <colgroup>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                        <col>
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th class="checkbox-cell">
                                                <input type="checkbox" id="select-all-{{ forloop.counter }}">
                                            </th>
                                            <th>Test Name</th>
                                            <th>Stage</th>
                                            <th>Date</th>
                                            <th>Test Inspector</th>
                                            <th>Serial No</th>
                                            <th class="status-column">Status
                                                <span class="help-legends">
                                                    ? 
                                                    <div class="legends">
                                                        <span class="color">
                                                            {% for status, color in status_color.items %}
                                                                <span class="circle" name="{{status}}" id="leg" style="background-color: {{color}};"></span> : {{status}}<br>
                                                            {% endfor %}
                                                        </span>
                                                        <br>
                                                        <span class="letter">
                                                            {% for letter, role in role_letter.items %}
                                                                <span class="circle" name='{{role}}' id="leg">{{letter}}</span> : {{role}}<br>
                                                            {% endfor %}
                                                        </span>
                                                    </div>
                                                </span></th>
                                            {% if employee.is_superuser %}
                                            <th>Actions</th>
                                            {% else %}
                                            <th>Action</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for subtest in all_tests %}
                                        {% if subtest.ModelName == test.ModelName %}
                                        <tr>
                                            <td class="checkbox-cell">
                                                <input type="checkbox" name="selected_tests" value="{{ subtest.id }}">
                                            </td>
                                            <td><p class="test-name">{{ subtest.TestName }}</p></td>
                                            <td>{{ subtest.TestStage }}</td>
                                            <td>{{ subtest.test_end_date|date:'d/m/Y' }}</td>
                                            <td><p class="employee-name">{{ subtest.employee_name }}</p></td>
                                            <td>{{ subtest.SerailNo }}</td>
                                            <td> <span class="test-status">
                                                <span class="letter">
                                                    <span class="color">
                                                        <span class="circle status-{{subtest.status}}">T</span>
                                                        <span class="circle status-{{subtest.L_status}}">L</span>
                                                        <span class="circle status-{{subtest.B_status}}">B</span>
                                                    </span>
                                                </span>
                                            </span></td>
                                            <td class="action-buttons">
                                                {% if employee.is_superuser %}
                                                <div class="multiple-actions">
                                                    <a class="btn" href="{% url 'owner_view' subtest.TestName subtest.ModelName subtest.SerailNo %}"><svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M480-320q75 0 127.5-52.5T660-500q0-75-52.5-127.5T480-680q-75 0-127.5 52.5T300-500q0 75 52.5 127.5T480-320Zm0-72q-45 0-76.5-31.5T372-500q0-45 31.5-76.5T480-608q45 0 76.5 31.5T588-500q0 45-31.5 76.5T480-392Zm0 192q-146 0-266-81.5T40-500q54-137 174-218.5T480-800q146 0 266 81.5T920-500q-54 137-174 218.5T480-200Zm0-300Zm0 220q113 0 207.5-59.5T832-500q-50-101-144.5-160.5T480-720q-113 0-207.5 59.5T128-500q50 101 144.5 160.5T480-280Z"/></svg></a>
                                                    <a class="edit button" href="{% url 'edit' subtest.TestName subtest.ModelName subtest.SerailNo %}"><svg class="icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M200-200h57l391-391-57-57-391 391v57Zm-80 80v-170l528-527q12-11 26.5-17t30.5-6q16 0 31 6t26 18l55 56q12 11 17.5 26t5.5 30q0 16-5.5 30.5T817-647L290-120H120Zm640-584-56-56 56 56Zm-141 85-28-29 57 57-29-28Z"/></svg></a> 
                                                </div>
                                                {% else %}
                                                <a class="btn" href="{% url 'owner_view' subtest.TestName subtest.ModelName subtest.SerailNo %}">View</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
<script type="text/javascript" src="{% static 'js/scroll-summary.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var messageContainer = document.querySelector('.message-container');
        var timerBar = document.querySelector('.timer-bar');
        var header = document.querySelector('.header');

        if (messageContainer && timerBar && header) {
            var headerRect = header.getBoundingClientRect();
            var headerHeight = headerRect.height;
            var headerTop = headerRect.top + window.scrollY;
            messageContainer.style.top = `${headerTop + headerHeight}px`;
            timerBar.style.width = '0%';

            setTimeout(function() {
                messageContainer.style.top = `-${messageContainer.offsetHeight}px`;
            }, 5000);
        }
    });
    
    document.addEventListener("DOMContentLoaded", function() {
        populateModels();
        populateTestName();
    
        document.getElementById("product").addEventListener("change", function() {
            populateModels();
            populateTestName();
        });
        document.getElementById("test_stage").addEventListener("change", function() {
            populateTestName();
        });
    });
        
    // JavaScript object to store model data
    const modelsByType = {
        "TV": {{tv_models|safe}},
        "AC": {{ac_models|safe}},
        "Phone": {{phone_models|safe}},
        "Washing_Machine": {{washing_machine_models|safe}}
    };
    
    // JavaScript function to populate the model list based on the selected product type
    function populateModels() {
        const productTypeDropdown = document.getElementById("product");
        const modelNameDropdown = document.getElementById("model_name");
        const selectedProductType = productTypeDropdown.value;
    
        // Clear existing options
        modelNameDropdown.innerHTML = "";
    
        // Populate model options based on the selected product type
        if (selectedProductType && modelsByType[selectedProductType]) {
            const optionAllModels = document.createElement("option");
            optionAllModels.text = "All Models";
            optionAllModels.value = "";
            modelNameDropdown.appendChild(optionAllModels);
    
            modelsByType[selectedProductType].forEach(model => {
                const option = document.createElement("option");
                option.text = model;
                modelNameDropdown.appendChild(option);
            });
        }
    }
        
    function populateTestName() {
        const testDetail = {{ test|safe }};
        const productTypeDropdown = document.getElementById("product");
        const testStageDropdown = document.getElementById("test_stage");
        const testNameDropdown = document.getElementById("test_name");
        const selectedProductType = productTypeDropdown.value;
        const selectedTestStage = testStageDropdown.value;
    
        // Clear existing options
        testNameDropdown.innerHTML = "";
    
        const optionAllTests = document.createElement("option");
        optionAllTests.text = "All Tests";
        optionAllTests.value = "";
        testNameDropdown.appendChild(optionAllTests);
    
        testDetail.forEach(item => {
            const s = item.TestStage;
    
            if (selectedProductType === "" && selectedTestStage === "") {
                // If both product type and test stage are not selected, show all test names
                const option = document.createElement("option");
                option.text = item.TestName;
                testNameDropdown.appendChild(option);
            } else if (selectedProductType === "") {
                // If only test stage is selected, filter by test stage
                if ((s[0] === '1' && selectedTestStage === "DVT") ||
                    (s[1] === '1' && selectedTestStage === "PP") ||
                    (s[2] === '1' && selectedTestStage === "MP")) {
                    const option = document.createElement("option");
                    option.text = item.TestName;
                    testNameDropdown.appendChild(option);
                }
            } else if (selectedTestStage === "") {
                // If only product type is selected, filter by product type
                if (item.ProductType === selectedProductType) {
                    const option = document.createElement("option");
                    option.text = item.TestName;
                    testNameDropdown.appendChild(option);
                }
            } else {
                // If both product type and test stage are selected, filter by both
                if (item.ProductType === selectedProductType && (
                    (s[0] === '1' && selectedTestStage === "DVT") ||
                    (s[1] === '1' && selectedTestStage === "PP") ||
                    (s[2] === '1' && selectedTestStage === "MP"))) {
                    const option = document.createElement("option");
                    option.text = item.TestName;
                    testNameDropdown.appendChild(option);
                }
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function() {
        // Select all checkboxes when the "select-all" checkbox is clicked
        document.querySelectorAll('[id^="select-all-"]').forEach(checkbox => {
            checkbox.addEventListener('click', function(event) {
                const table = event.target.closest('table'); // Find the closest table
                const checkboxes = table.querySelectorAll('td input[type="checkbox"]'); // Get all checkboxes within the table
                for (const checkbox of checkboxes) {
                    checkbox.checked = event.target.checked;
                }
            });
        });
    });
</script>
</body>
</html>