<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icons/webpage.png' %}">
    <title>Forgot Password</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!-- <link rel="stylesheet" href="{%static 'css/login_page.css' %}"> -->
	<link rel="stylesheet" href="{%static 'css/register_details.css' %}">
    <style>
        .otp-view {
            display: none;
        }
        .final-view {
            display: none;
        }
    </style>
</head>
<body class="body">
	<div class="containers">
		<!-- forgot password form -->
		<div class="card">
			<div class="card-header text-center border-0 no-background">
				<img class="Indkal-Logo" src="{%static 'images/Logo.svg' %}" alt="Indka Logo">
			</div>
            <div class="initial-view">
                <form id="card-2" class="card-2" method="post" action="{% url 'forgot_password_send_otp' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body border-0 no-background">
                        <div id="messages-1">
                            <!-- div to be filled by JS don't remove -->
                        </div>
                        <!-- Display error/success messages -->
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    <span class="message-span">{{ message }}</span> 
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <!-- Username input field -->
                        <div class="form-group">
                            <input type="text" class="form-control input-field" name="username" id="email-1"
                                aria-describedby="emailHelp" placeholder="Email" required>
                        </div>
                        <!-- Send OTP button -->
                        <button id="send-otp-btn" type="button" name="action" value="send_otp" class="btn btn-primary btn-fill">Send OTP</button>
                    </div>
                </form>
            </div>
            <div class="otp-view">
                <form id="card-2" class="card-2" method="post" action="{% url 'forgot_password_verify_otp' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body border-0 no-background">
                        <div id="messages-2">
                            <!-- div to be filled by JS don't remove -->
                        </div>
                        <!-- Display error/success messages -->
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    <span class="message-span">{{ message }}</span> 
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <!-- Username input field -->
                        <div class="form-group">
                            <input type="text" class="form-control input-field" name="username" id="email-2"
                                aria-describedby="emailHelp" placeholder="Email" required>
                        </div>
                        <!-- OTP input field -->
                        <div class="form-group">
                            <div class="otp-container">
                                <!-- Six input fields for OTP digits -->
                                <input type="text" class="otp-input" pattern="\d" maxlength="1" required>
                                <input type="text" class="otp-input" pattern="\d" maxlength="1" disabled required>
                                <input type="text" class="otp-input" pattern="\d" maxlength="1" disabled required>
                                <input type="text" class="otp-input" pattern="\d" maxlength="1" disabled required>
                                <input type="text" class="otp-input" pattern="\d" maxlength="1" disabled required>
                                <input type="text" class="otp-input" pattern="\d" maxlength="1" disabled required>
                            </div>
                                <!-- Field to store complete OTP -->
                                <input style="display: none;" class="form-control input-field" type="OTP" name="OTP" placeholder="OTP" id="OTP-code" readonly>
                        </div>
                        <!-- Verify OTP button -->
                        <button id="verify-otp-btn" type="button" name="action" value="verify_otp" class="btn btn-primary btn-fill">Verify OTP</button>
                    </div>
                </form>
            </div>
            <div class="final-view">
                <form id="card-2" class="card-2" method="post" action="{% url 'forgot_password_verify_otp' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body border-0 no-background">
                        <div id="messages-3">
                            <!-- div to be filled by JS don't remove -->
                        </div>
                        <!-- Display error/success messages -->
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    <span class="message-span">{{ message }}</span> 
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}

                        <!-- Username input field -->
                        <div class="form-group">
                            <input type="text" class="form-control input-field" name="username" id="email-3"
                                aria-describedby="emailHelp" placeholder="Email" required>
                        </div>
                        <!-- Password field -->
                        <div class="form-group">
                            <input type="password" class="form-control input-field" name="password" id="password-3"
                                placeholder="New Password" required>
                        </div>
                        <!-- Confirm password field -->
                        <div class="form-group">
                            <input type="password" class="form-control input-field" name="confirm-password" id="confirm-password-3"
                                placeholder="Confirm Password" required>
                        </div>
                        <!-- Submit button -->
                        <button id="submit-btn" type="button" name="action" value="sign_up" class="btn btn-primary btn-fill">Sign Up</button>
                    </div>
                </form>
            </div>
            <!-- Link to registration page -->
            <span class="no_wrap text-center"><span>Don't have an account? <a href="/au/register/" class="sign-up">Sign Up</a></span></span>
		</div>
	</div>
    <script src="{% static 'js/forgot_password.js' %}"></script>
</body>
</html>
