<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign in</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="{%static 'css/style_log0.css' %}"> -->
	<link rel="stylesheet" href="{%static 'css/login_page.css' %}">
    <style>
        .otp-view {
            display: none;
        }
        .final-view {
            display: none;
        }
    </style>
</head>
<body class="body">
	<div class="container">
		<!-- Login form -->
		<div class="card">
			<div class="card-header text-center py-4 border-0 no-background">
				<img class="Indkal-Logo" src="{%static 'images/Logo.svg' %}" alt="Indka Logo"></img>
			</div>
            <div class="initial-view">
                <form id="card-2" class="col-6 mx-auto card-2 p-3" method="post" action="{% url 'forgot_password_send_otp' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body px-5 py3 border-0 no-background">
                        <div id="messages-1"></div>
                        <!-- Display error/success messages -->
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <!-- Username input field -->
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Email" required>
                        </div>
                        <!-- Send OTP button -->
                        <div class="button-container">                    
                            <div class="otp-button">
                                <button id="send-otp-btn" type="button" name="action" value="send_otp" class="btn btn-primary btn-fill">Send OTP</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="otp-view">
                <form id="card-2" class="col-6 mx-auto card-2 p-3" method="post" action="{% url 'forgot_password_verify_otp' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body px-5 py3 border-0 no-background">
                        <div id="messages-2"></div>
                        <!-- Display error/success messages -->
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <!-- Username input field -->
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Email" required>
                        </div>
                        <!-- OTP input field -->
                        <div class="form-group">
                            <input type="OTP" class="form-control" name="OTP" id="exampleInputOTP1"
                                placeholder="OTP" required>
                        </div>
                        <!-- Verify OTP button -->
                        <div class="button-container">                    
                            <div class="otp-button">
                                <button id="verify-otp-btn" type="button" name="action" value="verify_otp" class="btn btn-primary btn-fill">Verify OTP</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="final-view">
                <form id="card-2" class="col-6 mx-auto card-2 p-3" method="post" action="{% url 'forgot_password_verify_otp' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body px-5 py3 border-0 no-background">
                        <div id="messages-3"></div>
                        <!-- Display error/success messages -->
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}

                        <!-- Username input field -->
                        <div class="form-group">
                            <input type="text" class="form-control" name="username" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Email" required>
                        </div>
                        <!-- Password field -->
                        <div class="form-group">
                            <input type="password" class="form-control" name="password" id="exampleInputPassword1"
                                placeholder="Password" required>
                        </div>
                        <!-- Confirm password field -->
                        <div class="form-group">
                            <input type="password" class="form-control" name="confirm-password" id="exampleInputPassword1"
                                placeholder="Confirm Password" required>
                        </div>
                        <!-- Submit button -->
                        <button id="submit-btn" type="button" name="action" value="sign_up" class="btn btn-primary btn-fill">Sign Up</button>
                    </div>
                </form>
            </div>
            <!-- Link to registration page -->
            <span class="no_wrap text-center"><p>Don't have an account? <a href="/au/register/" class="sign-up">Sign Up</a></p></span>
		</div>
	</div>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
        const sendOtpBtn = document.getElementById("send-otp-btn");
        const initialView = document.querySelector(".initial-view");
        const initialForm = initialView.querySelector('form');

        const verifyOtpBtn = document.getElementById("verify-otp-btn");
        const otpView = document.querySelector(".otp-view");
        const otpForm = otpView.querySelector('form');

        const submitBtn = document.getElementById("submit-btn"); 
        const finalView = document.querySelector(".final-view");
        const finalForm = finalView.querySelector('form');

        sendOtpBtn.addEventListener("click", function(e) {
            e.preventDefault();
            const formData = new FormData(initialForm);
            fetch("{% url 'forgot_password_send_otp' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                },
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    otpForm.querySelector('input[name="username"]').value = formData.get('username');
                    otpForm.querySelector('input[name="username"]').readOnly = true;

                    initialView.style.display = "none";
                    otpView.style.display = "block";
                    finalView.style.display = "none";
                } 
                else if (data.error) {
                    const messagesContainer = document.getElementById("messages-1");
                    const errorMessage = document.createElement('div');
                    errorMessage.classList.add('alert', 'alert-error', 'alert-dismissible', 'fade', 'show');
                    errorMessage.setAttribute('role', 'alert');
                    errorMessage.innerHTML = data.message;
                    messagesContainer.appendChild(errorMessage);
                }
                else {
                    // Handle error
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        verifyOtpBtn.addEventListener("click", function(e) {
            e.preventDefault();
            const formData = new FormData(otpForm);
            fetch("{% url 'forgot_password_verify_otp' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                },
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    finalForm.querySelector('input[name="username"]').value = formData.get('username');
                    finalForm.querySelector('input[name="username"]').readOnly = true;

                    initialView.style.display = "none";
                    otpView.style.display = "none";
                    finalView.style.display = "block";
                } 
                else if (data.error) {
                    const messagesContainer = document.getElementById("messages-2");
                    const errorMessage = document.createElement('div');
                    errorMessage.classList.add('alert', 'alert-error', 'alert-dismissible', 'fade', 'show');
                    errorMessage.setAttribute('role', 'alert');
                    errorMessage.innerHTML = data.message;
                    messagesContainer.appendChild(errorMessage);
                }
                else {
                    // Handle error
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

        submitBtn.addEventListener("click", function(e) {
            e.preventDefault();
            const formData = new FormData(finalForm);
            fetch("{% url 'forgot_password_update' %}", {
                method: 'POST',
                headers: {
                    'X-CSRFToken': formData.get('csrfmiddlewaretoken'),
                },
                body: formData,
            })
            .then(response => response.json())
            .then(data => {
                if (data.redirect_url) {
                    // Redirect to the specified URL
                    window.location.href = data.redirect_url;
                } 
                else if (data.error) {
                    const messagesContainer = document.getElementById("messages-3");
                    const errorMessage = document.createElement('div');
                    errorMessage.classList.add('alert', 'alert-error', 'alert-dismissible', 'fade', 'show');
                    errorMessage.setAttribute('role', 'alert');
                    errorMessage.innerHTML = data.message;
                    messagesContainer.appendChild(errorMessage);
                }
                else {
                    // Handle error
                    alert(data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });

    })
    </script>
</body>
</html>
