<div class="header">
    <form action="{% url 'test_list_entry' %}" method="post">
        <div class="left-icon">
            <form action=""></form>
            <button class="dashboard-btn" name="action" value="dashboard" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                    <path d="M 200 -120 q -33 0 -56.5 -23.5 T 120 -200 v -560 q 0 -33 23.5 -56.5 T 200 -840 h 560 q 33 0 56.5 23.5 T 840 -760 v 560 q 0 33 -23.5 56.5 T 760 -120 H 200 Z m 0 -80 h 240 v -560 H 200 v 560 Z m 320 0 h 240 v -280 H 520 v 280 Z m 0 -360 h 240 v -200 H 520 v 200 Z"/>
                </svg>&nbsp;Dashboard
            </button>
        </div>
    </form>
    <div class="right-icon">
        <div class="notifications">
            <button class="notif-toggle-btn" id="notifButton" onclick="toggleNotifications()">
                <i class="fas fa-bell"></i>
                {% if notification.unread_count > 0 %}
                <span class="badge" id="unreadCountBadge">{{ notification.unread_count }}</span>
                {% endif %}
            </button>
            <div class="notif-info" id="notifInfo">
                <div class="notif-actions">
                    <div class="clear-notif-btn" onclick="clearNotifications('all')">
                        <svg class="icon" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M120-280v-80h560v80H120Zm80-160v-80h560v80H200Zm80-160v-80h560v80H280Z"/></svg>
                    </div>
                    <a class="notif-view-all" href="/notifications/">View all</a>
                </div>
                {% for notification in latest_notifications %}
                    <div class="notif-click" onclick="handleNotification('{{ notification.action }}', {{ notification.metadata }})">
                        <div class="notif-content">
                            {{ notification.display_content }}
                        </div>
                        <div class="notif-date">
                            {{ notification.created_at }}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="theme-toggle-btn">
            <input type="checkbox" class="theme-checkbox" id="theme-checkbox">
            <label style="margin-bottom: 0px;" for="theme-checkbox" class="theme-checkbox-label">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <span class="theme-ball"></span>
            </label>
        </div>
        <button class="user-btn" id="userButton" onclick="toggleUserInfo()">
            <span class="icon" id="userButtonIcon">{{ employee.first_name.0 }}{{ employee.last_name.0 }}</span>
        </button>
        <div class="user-info" id="userInfo">
            <span>
                <p class="name">Name: {{ employee.first_name }} {{ employee.last_name }}</p>
                <p class="mail">Email: {{ employee.username }}</p>
            </span>
            <span style="display: flex; align-items: center; justify-content: center;">
                <a class="logout-btn"  onclick="logoutUser()">Logout</a>
            </span>
        </div>
    </div>
</div>