<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sign in</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
	<!-- <link rel="stylesheet" href="{%static 'css/style_log0.css' %}"> -->
	<link rel="stylesheet" href="{%static 'css/login_pages.css' %}">
</head>
<body class="body">
	<div class="container">
		<!-- Login form -->
		<div class="card">
			<div class="card-header text-center py-4 border-0 no-background">
				<img class="Indkal-Logo" src="{%static 'images/Logo.svg' %}" alt="Indka Logo"></img>
			</div>
			<form id="card-2" class="col-6 mx-auto card-2 p-3" method="post" action="{% url 'login_page' %}" enctype="multipart/form-data">

				{% csrf_token %} <!-- CSRF token for security -->

				<!-- Login heading -->
				<!-- <h3 class="title">Log in</h3> -->
				<!-- <hr> -->
				<div class="card-body px-5 py3 border-0 no-background">
					<!-- Display error/success messages -->
					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}

					<!-- Username input field -->
					<div class="form-group">
						<!-- <label for="exampleInputEmail1">Username</label> -->
						<input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp"
							placeholder="Email" required>
					</div>

					<!-- Password input field -->
					<div class="form-group">
						<!-- <label for="exampleInputPassword1">Password</label> -->
						<input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
					</div>
				</div>
				<div class="card-footer text-center border-0 no-background element-center">
					<!-- Submit button -->
					<button type="submit" class="btn btn-primary btn-fill">Sign in</button>
					<!-- Forgot Password -->
					<a class="forgot-password" href="/au/forgot_password">Forgot password?</a>
					<!-- Link to registration page -->
					<span class="no_wrap"><p>Don't have an account? <a href="/au/register/" class="sign-up">Sign Up</a> </p></span>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
