<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" href="{% static 'icons/webpage.png' %}">
    <title>View Model Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/view_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    {% include "header_PO.html" %}
    {% if messages %}
        <span class="message-container">
            {% for message in messages %}
                <span class="message {{ message.level_tag }}">
                    {{ message }}
                </span>
                <div class="timer-bar"></div>
            {% endfor %}
        </span>
    {% endif %}
   <div class="content">
        <div style="padding: 10px 20px 0px 20px;">
            <h1>Model Details</h1>
            <form method="GET">
                <div class="inline">
                    <label for="product_filter">Product:</label>
                    <select class="filter-dropdown" name="product_filter" onchange="this.form.submit()">
                        <option value="">All Products</option>
                        {% for product in products %}
                            <option value="{{ product }}" {% if product == request.GET.product_filter %}selected{% endif %}>
                                {{ product }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="inline">
                    <label for="model_filter">Model Name:</label>
                    <select class="filter-dropdown" name="model_filter" onchange="this.form.submit()">
                        <option value="">All Models</option>
                        {% for modelname in modelnames %}
                            <option value="{{ modelname }}" {% if modelname == request.GET.model_filter %}selected{% endif %}>
                                {{ modelname }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="clear-btn" name="clear_filters" value="true">Clear</button>
            </form>
        </div>
        <div class="table-containers">
            <table>
                <thead>
                    <tr>
                        {% if not product_filter %}
                        <th>Product</th>
                        {% endif %}
                        {% if not model_filter %}
                        <th>Model No.</th>
                        {% endif %}
                        <th>Customer</th>
                        <th>Manufacturer</th>
                        <th>Location</th>
                        <th>Brand</th>
                        <th>Brand Model No.</th>
                        <th>ODM Model No.</th>
                    </tr>
                </thead>
                <tbody>
                    {% for model in models %}
                    <tr>
                        {% if not product_filter %}
                        <td>{{ model.Product }}</td>
                        {% endif %}
                        {% if not model_filter %}
                        <td>{{ model.Indkal_model_no }}</td>
                        {% endif %}
                        <td>{{ model.Customer }}</td>
                        <td>{{ model.Manufacture }}</td>
                        <td>{{ model.Location }}</td>
                        <td>{{ model.Brand }}</td>
                        <td>{{ model.Brand_model_no }}</td>
                        <td>{{ model.ODM_model_no }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
        </div>
    </div>

<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var messageContainer = document.querySelector('.message-container');
        var timerBar = document.querySelector('.timer-bar');
        var header = document.querySelector('.header');

        if (messageContainer && timerBar && header) {
            var headerRect = header.getBoundingClientRect();
            var headerHeight = headerRect.height;
            var headerTop = headerRect.top + window.scrollY;
            messageContainer.style.top = `${headerTop + headerHeight}px`;
            timerBar.style.width = '0%';

            setTimeout(function() {
                messageContainer.style.top = `-${messageContainer.offsetHeight}px`;
            }, 5000);
        }
    });
</script>
</body>
</html>