<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load static%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icons/webpage.png' %}">
    <title>Report Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/view_record.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
    {% include "header_PO.html" %}
    <form class="mx-auto card p-3 shadow-lg form-container" style="margin-top: 15px;">
        {{ form.media }}
        <p style='margin:0cm;text-align:center;vertical-align:baseline;'><strong><u><span style='font-size:24px;'>{{TestProtocol.TestName}}</span></u></strong></p>
        <div style="margin: 6px;"></div>
        {{ test.html_content|safe }}
        <hr class="page-break-indicator">

        <div class="additional_details">
            {% for additional_detail in test.additional_details %}
                <div>{{additional_detail | safe}}</div>
                <hr class="page-break-indicator">
            {% endfor %}
        </div>

        <div class="action-buttons">
            <a class="btn btn-primary" href="{% url 'dashboard' %}">Return</a>
            
            <div class="dropdown">
                <a class="btn btn-primary dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{test.status}}
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'change_status' test.id 1 %}">Waiting</a>
                    <a class="dropdown-item" href="{% url 'change_status' test.id 2 %}">Approve</a>
                    <a class="dropdown-item" href="{% url 'change_status' test.id 3 %}">Reject</a>
                </div>
            </div>
        </div>
    </form>
    {% include "remarks.html" %}
    <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
</body>
</html>