<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" href="{% static 'icons/webpage.png' %}">
    <title>Add Model Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/color_pallette.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    {% include "header_PO.html" %}
    <div class="message-container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message {{ message.level_tag }}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="container">
        <div class="form-container">
            <div class="form-header">
                <h1>Add Model Details</h1>
            </div>
            <form action="{% url 'mnf' %}" method="post">
                <div class="form-group">
                    <label for="Product">Product</label>
                    <select name="Product" id="Product" class="form-control" required>
                        <option value="" selected disabled hidden>Select the Product</option>
                        {% for prod, boo in employee.product_type.items %}
                            {% if boo %}
                                <option value="{{prod}}">{{prod}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Name and Address of Customer</label>
                    <textarea class="form-control" id="Customer" name="Customer" required>
INDKAL TECHNOLOGIES PRIVATE LIMITED
1, C-102, Hinduja Lake Front Estate, Hullimavu Bennerghatta Rd,
Bangalore, Bengaluru (Bangalore) Urban, Karnataka, 560076</textarea>
                </div>
                <div class="form-group">
                    <label>Name and Address of Manufacturer</label>
                    <textarea class="form-control" id="Manufacture" name="Manufacture" required></textarea>
                </div>
                <div class="form-group">
                    <label>Test Location</label>
                    <textarea class="form-control" id="Location" name="Location" required></textarea>
                </div>
                <div class="form-group">
                    <label>Brand</label>
                    <select name="Brand" id="Brand" class="form-control" required>
                        <option value="" selected disabled hidden>Select Brand</option>
                        <option value="Acer">Acer</option>
                        <option value="BLACK + DECKER">BLACK + DECKER</option>
                        <option value="Wobble">Wobble</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Brand Model No.</label>
                    <input type="text" class="form-control" id="Brand_model_no" name="Brand_model_no" required>
                </div>
                <div class="form-group">
                    <label>Indkal Model No.</label>
                    <input type="text" class="form-control" id="Indkal_model_no" name="Indkal_model_no" required>
                </div>
                <div class="form-group">
                    <label>ODM Model No.</label>
                    <input type="text" class="form-control" id="ODM_model_no" name="ODM_model_no" required>
                </div>
               
                <button type="submit" class="btn btn-primary btn-submit">Submit</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>