<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Specification Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    <div class="nav">
        <div class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="message {{ message.level_tag }}">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
       
        <div class="right-icon">
            <button class="user-btn" id="userButton" onclick="toggleUserInfo()">
                <span id="userButtonText"></span>
                <span class="icon">{{icon}}</span> <!-- Example downward triangle icon -->
            </button>
            <div class="user-info" id="userInfo">
                <p>Username: {{ username }}</p>
                <p>Name: {{ first_name }} {{ last_name }}</p>
                <a class="logout-btn" onclick="logoutUser()" data-csrf="{{ csrf_token }}">Logout</a>

            </div>
        </div>
    </div>
   
    <div class="container">
        <div class="form-container">
            <div class="header">
                <h1>Add Model Form</h1>
            </div>
            <form action="{% url 'mnf' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label>Customer</label>
                    <input type="text" class="form-control" id="Customer" name="Customer" required>
                </div>
                <div class="form-group">
                    <label>Manufacture</label>
                    <input type="text" class="form-control" id="Manufacture" name="Manufacture" required>
                </div>
                <div class="form-group">
                    <label>Location</label>
                    <input type="text" class="form-control" id="Location" name="Location" required>
                </div>
                <div class="form-group">
                    <label>Brand</label>
                    <input type="text" class="form-control" id="Brand" name="Brand" required>
                </div>
                
                <label for="prod">Product</label>
                <select name="prod" id="prod">
                    <option value="" selected disabled hidden>Select the product</option>
                    <option value="ac">AC</option>
                    <option value="washing_machine">Washing Machine</option>
                    <option value="tv">TV</option>
                    <option value="phone">Phone</option>
                </select>

                <div class="form-group">
                    <label>Brand_model_no</label>
                    <input type="text" class="form-control" id="Brand_model_no" name="Brand_model_no" required>
                </div>
                <div class="form-group">
                    <label>Indkal_model_no</label>
                    <input type="text" class="form-control" id="Indkal_model_no" name="Indkal_model_no" required>
                </div>
                <div class="form-group">
                    <label>ORM_model_no</label>
                    <input type="text" class="form-control" id="ORM_model_no" name="ORM_model_no" required>
                </div>
               
                <button type="submit" class="btn btn-secondary btn-submit">Submit</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
</body>
</html>