<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        {% load static%}
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="{% static 'icons/webpage.png' %}">
        <title>Add New Report</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
</head>
<body>
    {% if employee.is_superuser %}
        {% include "header_PO.html" %}
    {% else %}
        {% include "header.html" %}
    {% endif %}
    <div class="message-container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message {{ message.level_tag }}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="container">
        <div class="form-container" style="margin-top: 25px;">
            <h1>Add New Report</h1>
            <form method="POST" name="product_form" action="{% url 'product' %}">
                <!-- CSRF token -->
                {% csrf_token %}
                <div class="form-group">
                    <label for="ProductType">Product Type:</label>
                    <select class="form-control" id="ProductType" name="ProductType" required>
                    </select>
                </div>
                <div class="form-group">
                    <label for="ModelName">Model Name:</label>
                    <select class="form-control" id="ModelName" name="ModelName" required>
                    </select>
                </div>
                <div class="form-group">
                    <label for="TestType">Test Stage</label>
                    <select class="form-control" id="TestStage" name="TestStage" required>
                        <option value="DVT">DVT</option>
                        <option value="PP">PP</option>
                        <option value="MP">MP</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="TestType">Test Name:</label>
                    <select class="form-control" id="TestName" name="TestName" required></select>
                </div>
                <div class="form-group">
                    <label for="SerailNo">Serial Number:</label>
                    <input
                        type="text"
                        class="form-control"
                        id="SerailNo"
                        name="SerailNo"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="TestedBy">Tested By</label>
                    <select class="form-control" id="TestedBy" name="TestedBy" required>
                        <option value="TI" selected>Test Inspector</option>
                        <option value="ODM">ODM</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-submit">Submit</button>
            </form>
        </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
    <script>
        const products = {{ products|safe }};

        function populateProducts() {
            const productSelect = document.getElementById("ProductType");

            // Clear existing options
            productSelect.innerHTML = "";

            // Create a default option
            const defaultOption = document.createElement("option");
            defaultOption.value = "";
            defaultOption.text = "Select the Product";
            defaultOption.selected = true;
            defaultOption.disabled = true;
            defaultOption.hidden = true;
            productSelect.appendChild(defaultOption);

            // Populate options from the products data
            products.forEach(product => {
                const option = document.createElement("option");
                option.value = product;
                option.text = product;
                productSelect.appendChild(option);
            });
        }

        const modelsByType = {
            "TV": {{ tv_models|safe }},
            "AC": {{ ac_models|safe }},
            "Mobile": {{ phone_models|safe }},
            "WM - FATL": {{ washing_machine_models|safe }}
        };

        function populateModels() {
            const productTypeDropdown = document.getElementById("ProductType");
            const modelNameDropdown = document.getElementById("ModelName");
            const selectedProductType = productTypeDropdown.value;
            // Clear existing options
            modelNameDropdown.innerHTML = "";

            // Populate model options based on the selected product type
            modelsByType[selectedProductType].forEach(model => {
                const option = document.createElement("option");
                option.text = model;
                modelNameDropdown.appendChild(option);
            });
        }

        // JavaScript function to populate the test names based on the selected product type and test stage
        function populateTestName() {
            const testDetail = {{ test|safe }};
            const productTypeDropdown = document.getElementById("ProductType");
            const testStageDropdown = document.getElementById("TestStage");
            const testNameDropdown = document.getElementById("TestName");
            const selectedProductType = productTypeDropdown.value;
            const selectedTestStage = testStageDropdown.value;

            // Clear existing options
            testNameDropdown.innerHTML = "";

            testDetail.forEach(item => {
                
                if (item.ProductType === selectedProductType) {
                    const s = item.TestStage;
                    if (selectedTestStage === 'None' ||
                    (s[0] === '1' && selectedTestStage === "DVT") ||
                    (s[1] === '1' && selectedTestStage === "PP") ||
                    (s[2] === '1' && selectedTestStage === "MP")) {
                        const option = document.createElement("option");
                        option.text = item.TestName;
                        testNameDropdown.appendChild(option);
                    }
                }
            });
        }

        document.addEventListener("DOMContentLoaded", function() {
            // populateModels();
            // populateTestName();
            populateProducts();

            document.getElementById("ProductType").addEventListener("change", function() {
                populateModels();
                populateTestName(); // Also populate test names when product type changes
            });
            document.getElementById("TestStage").addEventListener("change", function() {
                populateTestName();
            });
        });
    </script>
</body>
</html>
