<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% load static %}
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icons/webpage.png' %}">
    <title>Sign Up</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="{%static 'css/register_details.css' %}">
    <style>
        .final-view {
            display: none;
        }
    </style>
</head>
<body class="body">
	<div class="containers">
		<!-- Login form -->
		<div class="card">
			<div class="card-header text-center border-0 no-background">
				<img class="Indkal-Logo" src="{%static 'images/Logo.svg' %}" alt="Indka Logo">
			</div>
            <div class="initial-view">
                <form id="card-2" class="card-2" method="post" action="{% url 'send_otp' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body border-0 no-background">
                        <div id="messages1">
                            <!-- div to be filled by JS don't remove -->
                        </div>
                        <!-- Display error/success messages -->
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    <span class="message-span">{{ message }}</span>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endif %}
                        <!-- First Name input field -->
                        <div class="form-group">
                            <input type="text" class="form-control input-field" id="first-name-1" aria-describedby="emailHelp"
                                placeholder="First name" name="first_name" required>
                        </div>

                        <!-- Last Name input field -->
                        <div class="form-group">
                            <input type="text" name="last_name" class="form-control input-field" id="last-name-1"
                                aria-describedby="emailHelp" placeholder="Last name" required>
                        </div>

                        <!-- Username input field -->
                        <div class="form-group">
                            <input type="text" class="form-control input-field" name="username" id="email-1"
                                aria-describedby="emailHelp" placeholder="Email" required>
                        </div>

                        <!-- Password input field -->
                        <div class="form-group">
                            <input type="password" class="form-control input-field" name="password" id="password-1"
                                placeholder="Password" required>
                        </div>
                        <button id="send-otp-btn" type="button" name="action" value="send_otp" class="btn btn-primary btn-fill">Send OTP</button>
                    </div>
                </form>
            </div>
            <div class="final-view">
                <form id="card-2" class="card-2" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-body border-0 no-background">
                        <div id="messages2">
                            <!-- div to be filled by JS don't remove -->
                        </div>
                        <!-- First Name input field -->
                        <div class="form-group">
                            <input type="text" class="form-control input-field" id="first-name-2" aria-describedby="emailHelp"
                                placeholder="First name" name="first_name" required value="{{ employee.first_name }}">
                        </div>

                        <!-- Last Name input field -->
                        <div class="form-group">
                            <input type="text" name="last_name" class="form-control input-field" id="last-name-2"
                                aria-describedby="emailHelp" placeholder="Last name" required value="{{ employee.last_name }}">
                        </div>

                        <!-- Username input field -->
                        <div class="form-group">
                            <input type="text" class="form-control input-field" name="username" id="email-2"
                                aria-describedby="emailHelp" placeholder="Email" required value="{{ employee.username }}">
                        </div>

                        <!-- Password input field -->
                        <div class="form-group">
                            <input type="password" class="form-control input-field" name="password" id="password-2"
                                placeholder="Password" required value="{{ password }}">
                        </div>
                        <!-- OTP input field -->
                        <div class="form-group">
                            <div class="otp-container">
                                <!-- Six input fields for OTP digits -->
                                <input type="text" class="otp-input" pattern="\d" maxlength="1" required>
                                <input type="text" class="otp-input" pattern="\d" maxlength="1" disabled required>
                                <input type="text" class="otp-input" pattern="\d" maxlength="1" disabled required>
                                <input type="text" class="otp-input" pattern="\d" maxlength="1" disabled required>
                                <input type="text" class="otp-input" pattern="\d" maxlength="1" disabled required>
                                <input type="text" class="otp-input" pattern="\d" maxlength="1" disabled required>
                            </div>
                              
                              <!-- Field to store complete OTP -->
                                <input style="display: none;" class="form-control input-field" type="OTP" name="OTP" placeholder="OTP" id="OTP-code" readonly>
                        </div>
                        <!-- Submit button -->
                        <button type="submit" name="action" value="sign_up" class="btn btn-primary btn-fill">Sign Up</button>
                    </div>
                </form>
            </div>
            <!-- Link to login page for users who already have an account -->
            <p class="no_wrap">Already have an account? <a href="/au/login/">Sign in</a> </p>
        </div>
    </div>
    <script src="{%static 'js/register.js' %}"></script>
</body>
</html>