<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" href="{% static 'icons/webpage.png' %}">
    <title>Report Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/view_record.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <script src="{% static 'js/ckeditor/ckeditor/ckeditor.js' %}"></script>
    <script src="{% static 'js/ckeditor/customConfig.js' %}"></script>
</head>
<body>
{% if employee.is_superuser %}
    {% include "header_PO.html" %}
{% else %}
    {% include "header.html" %}
{% endif %}
<div class="mx-auto card p-3 shadow-lg form-container" style="margin-top: 13px;">
    <p style='margin:0cm;text-align:center;vertical-align:baseline;'><strong><u><span style='font-size:24px;'>{{TestProtocol.TestName}}</span></u></strong></p>
    <div style="margin: 6px;"></div>
    <table>
        <tbody>
            {% if test.ProductType == 'AC' %}
                <tr>
                    <td class="header-column">
                        <strong><span class="row_header">Test Objective</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{ TestProtocol.Test_Objective }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Model No.</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{ model.ModelName }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Sample Quantity</span></strong>
                    </td>
                    <td colspan="4">
                        <span><input type="number" id="sample_quantity" value="{{ test.sample_quantiy }}" min="0"></input></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Serial No.</span></strong>
                    </td>
                    <td colspan="4">
                        <span class="input-warning-span" style="display: none">Please enter a valid character. '/' is not allowed.</span>
                        <span><input oninput="validateInput(this)" type="text" id="SerialNo" value="{{ test.SerailNo }}"></input></span>
                    </td>
                </tr>
                {% if test.verification %}
                <tr>
                    <td rowspan="9">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td colspan="4">
                        <span>Report verification Date: {{test.test_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td rowspan="9">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td colspan="2">
                        <span>Start Date: {{test.test_start_date|date:"d/m/Y"}}</span>
                    </td>
                    <td colspan="2">
                        <span>End Date: {{test.test_end_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="2">
                        <span>Indoor unit details</span>
                    </td>
                    <td colspan="2">
                        <span>Outdoor unit details</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Model</span>
                    </td>
                    <td>
                        <span>{{model.ModelName}}</span>
                    </td>
                    <td>
                        <span>Model</span>
                    </td>
                    <td>
                        <span>{{model.ModelName}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>S.</span><span>N</span><span>o</span><span>.</span>
                    </td>
                    <td>
                        <span>N/A</span>
                    </td>
                    <td>
                        <span>S.</span><span>N</span><span>o</span><span>.</span>
                    </td>
                    <td>
                        <span>N/A</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Bl. Motor</span>
                    </td>
                    <td>
                        <span>{{model.BImotor}}</span>
                    </td>
                    <td>
                        <span>Compressor</span>
                    </td>
                    <td>
                        <span>{{model.Compressor}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Blower</span>
                    </td>
                    <td>
                        <span>{{model.Blower}}</span>
                    </td>
                    <td>
                        <span>Fan motor</span>
                    </td>
                    <td>
                        <span>{{model.FanMotor}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Eva. Coil</span>
                    </td>
                    <td>
                        <span>{{model.Eva}}</span>
                    </td>
                    <td>
                        <span>Fan</span>
                    </td>
                    <td>
                        <span>{{model.Fan}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Conn. Pipe</span>
                    </td>
                    <td>
                        <span>{{model.ConPipe}}</span>
                    </td>
                    <td>
                        <span>Cond. Coil</span>
                    </td>
                    <td>
                        <span>{{model.CondCoil}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Ref. Charge</span>
                    </td>
                    <td>
                        <span>{{model.RefCharge}}</span>
                    </td>
                    <td>
                        <span>Capillary tube</span>
                    </td>
                    <td>
                        <span>{{model.Capilary}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Standard</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{TestProtocol.Test_Standard}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Condition</span></strong>
                    </td>
                    <td colspan="4">
                        <span> {{TestProtocol.Test_Condition|linebreaksbr }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Procedure</span></strong>
                    </td>
                    <td colspan="4">
                        <span> {{TestProtocol.Test_Procedure|linebreaksbr }}</span> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Judgement Criteria</span></strong>
                    </td>
                    <td colspan="4">
                        <span> {{TestProtocol.Judgement|linebreaksbr }}</span>  
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Instrument / Equipment used</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{TestProtocol.Instrument}}</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="4">
                        <strong><span class="row_header">Result &amp; Conclusion</span></strong>
                    </td>
                    <td colspan="4">
                        <span><textarea id="result">{{ test.result|safe }}</textarea></span>
                    </td>
                </tr>
            {% elif test.ProductType == 'WM - FATL' %}
                <tr>
                    <td class="header-column">
                        <strong><span class="row_header">Test Objective</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ TestProtocol.Test_Objective }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Model No.</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ model.ModelName }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Sample Quantity</span></strong>
                    </td>
                    <td colspan="2">
                        <span><input type="number" id="sample_quantity" value="{{test.sample_quantiy}}" min="0"></input></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Serial No.</span></strong>
                    </td>
                    <td colspan="2">
                        <span class="input-warning-span" style="display: none">Please enter a valid character. '/' is not allowed.</span>
                        <span><input oninput="validateInput(this)" type="text" id="SerialNo" value="{{test.SerailNo}}"></input></span>
                    </td>
                </tr>
                {% if test.verification %}
                <tr>
                    <td rowspan="7">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td colspan="2">
                        <span>Report verification Date: {{test.test_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td rowspan="7">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td>
                        <span>Test Start Date: {{test.test_start_date|date:"d/m/Y"}}</span>
                    </td>
                    <td>
                        <span>Test End Date: {{test.test_end_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <span>Type</span>
                    </td>
                    <td>
                        <span>Fully Automatic Top Load Washing Machine</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Rated Capacity</span>
                    </td>
                    <td>
                        <span>{{model.RatedCapacity}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Rated Power</span>
                    </td>
                    <td>
                        <span>{{model.RatedPower}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Rated Supply</span>
                    </td>
                    <td>
                        <span>{{model.RatedSupply}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Rated Frequency</span>
                    </td>
                    <td>
                        <span>{{model.RatedFrequency}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Rated RPM</span>
                    </td>
                    <td>
                        <span>{{model.RatedRPM}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Standard</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{TestProtocol.Test_Standard}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Condition</span></strong>
                    </td>
                    <td colspan="2">
                        <span> {{TestProtocol.Test_Condition|linebreaksbr }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Procedure</span></strong>
                    </td>
                    <td colspan="2">
                        <span> {{TestProtocol.Test_Procedure|linebreaksbr }}</span> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Judgement Criteria</span></strong>
                    </td>
                    <td colspan="2">
                        <span> {{TestProtocol.Judgement|linebreaksbr }}</span>  
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Instrument / Equipment used</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{TestProtocol.Instrument}}</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <strong><span class="row_header">Result &amp; Conclusion</span></strong>
                    </td>
                    <td colspan="2">
                        <span><textarea id="result">{{test.result|safe}}</textarea></span>
                    </td>
                </tr>
                {% elif test.ProductType == 'Mobile' %}
                <tr>
                    <td class="header-column">
                        <strong><span class="row_header">Test Objective</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ TestProtocol.Test_Objective }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Model No.</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ model.ModelName }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Sample Quantity</span></strong>
                    </td>
                    <td colspan="2">
                        <span><input type="number" id="sample_quantity" value="{{test.sample_quantiy}}" min="0"></input></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Serial No.</span></strong>
                    </td>
                    <td colspan="2">
                        <span class="input-warning-span" style="display: none">Please enter a valid character. '/' is not allowed.</span>
                        <span><input oninput="validateInput(this)" type="text" id="SerialNo" value="{{test.SerailNo}}"></input></span>
                    </td>
                </tr>
                {% if test.verification %}
                <tr>
                    <td rowspan="11">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td colspan="2">
                        <span>Report verification Date: {{test.test_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td rowspan="11">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td>
                        <span>Test Start Date: {{test.test_start_date|date:"d/m/Y"}}</span>
                    </td>
                    <td>
                        <span>Test End Date: {{test.test_end_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <span>IMEI Number</span>
                    </td>
                    <td>
                        <span>{{model.IMEINumber}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Chipset</span>
                    </td>
                    <td>
                        <span>{{model.Chipset}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Display</span>
                    </td>
                    <td>
                        <span>{{model.Display}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Camera</span>
                    </td>
                    <td>
                        <span>{{model.Camera}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Charger</span>
                    </td>
                    <td>
                        <span>{{model.Charger}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Battery</span>
                    </td>
                    <td>
                        <span>{{model.Battery}}</span>
                    </td>
                </tr>
                <tr></tr>
                    <td>
                        <span>RAM</span>
                    </td>
                    <td>
                        <span>{{model.RAM}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>ROM</span>
                    </td>
                    <td>
                        <span>{{model.ROM}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Color</span>
                    </td>
                    <td>
                        <span>{{model.Color}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Standard</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{TestProtocol.Test_Standard}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Condition</span></strong>
                    </td>
                    <td colspan="2">
                        <span> {{TestProtocol.Test_Condition|linebreaksbr }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Procedure</span></strong>
                    </td>
                    <td colspan="2">
                        <span> {{TestProtocol.Test_Procedure|linebreaksbr }}</span> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Judgement Criteria</span></strong>
                    </td>
                    <td colspan="2">
                        <span> {{TestProtocol.Judgement|linebreaksbr }}</span>  
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Instrument / Equipment used</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{TestProtocol.Instrument}}</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <strong><span class="row_header">Result &amp; Conclusion</span></strong>
                    </td>
                    <td colspan="2">
                        <span><textarea id="result">{{test.result|safe}}</textarea></span>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
    <hr class="page-break-indicator">

    <div class="ckeditor-container">
        {% for additional_detail in test.additional_details %}
            <div class="additional_details">
                <textarea class="rtf-editor" id="ckeditor_{{forloop.counter0}}">{{additional_detail | safe}}</textarea>
            </div>
            <hr class="page-break-indicator">
        {% endfor %}
    </div>

    <div style="margin: 10px;"></div>
    <button onclick="createNewRTF(this)" id="addPageButton" type="button" class="btn btn-primary custom-btn-small">Add page</button>
    <div style="margin: 10px;"></div>
    <button type="button" onclick="submitRecord(this)" class="btn btn-primary custom-btn-small submit-btn">Submit</button>
</div>

<script src="{% static 'js/ckeditor/customImageInfo.js' %}"></script>
<script src="{% static 'js/ckeditor/customImageUpload.js' %}"></script>
<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
<script>
    function validateInput(input) {
        const warn_span = document.querySelector('.input-warning-span');
        const submit_btn =document.querySelector('.submit-btn');
        if (input.value.includes('/')){
                warn_span.style.display = "unset";
                submit_btn.disabled = true;
            } else {
                warn_span.style.display = "none";
                submit_btn.disabled = false;
            }
    }

    const resultBox = document.querySelector("textarea#result");
    const resultEditor = CKEDITOR.replace(resultBox, {customConfig: "{% static 'js/ckeditor/customConfig.js' %}", width: "100%", contentsCss: ["{% static 'css/ckeditor_custom.css' %", "{% static 'css/color_pallette.css' %}"]});
    setTimeout(function(){
        const footer = resultEditor.container.$.querySelector(".cke_bottom");
        footer.style.display = "none";
        setRtfStyle(resultEditor.container.$);
    }, 200);
    
    var editor_count = 0;
    CKEDITOR.on('dialogDefinition', function (ev) {
        var dialogName = ev.data.name;
        var dialogDefinition = ev.data.definition;

        if (dialogName == 'image') {
            var infoTab = dialogDefinition.getContents('info');
            infoTab.remove('txtAlt');
            infoTab.remove('txtBorder');
            infoTab.remove('txtHSpace');
            infoTab.remove('txtVSpace');
        }
    });

    document.addEventListener("DOMContentLoaded", function() {
        setTimeout(function(){
            const resultBox = document.querySelector("div#cke_result");
            resultBox.style.border = 'none';
            const resultTD = resultBox.parentElement.parentElement;
            resultTD.style.padding = '0';
        }, 200);

        let rtfEditors = document.querySelectorAll(".rtf-editor");
        rtfEditors.forEach(rtfEditor => {
            const new_editor = CKEDITOR.replace(`ckeditor_${editor_count}`, {customConfig: "{% static 'js/ckeditor/customConfig.js' %}", height: "700px", contentsCss: ["{% static 'css/ckeditor_custom.css' %", "{% static 'css/color_pallette.css' %}"]});
            setTimeout(function(){addDeleteBtn(new_editor);}, 200);
            editor_count++;
        });
    });

    function setRtfStyle(newEditor) {
        const toolbar = newEditor.querySelector('.cke_top');
        const img_icon = toolbar.querySelector('.cke_button__image_icon');
        img_icon.outerHTML = '<svg class="rtf-icon" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e8eaed"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200Zm0-80h560v-560H200v560Zm0 0v-560 560Zm80-80h400q12 0 18-11t-2-21L586-459q-6-8-16-8t-16 8L450-320l-74-99q-6-8-16-8t-16 8l-80 107q-8 10-2 21t18 11Zm60-280q25 0 42.5-17.5T400-620q0-25-17.5-42.5T340-680q-25 0-42.5 17.5T280-620q0 25 17.5 42.5T340-560Z"/></svg>';
        const table_icon = toolbar.querySelector('.cke_button__table_icon');
        table_icon.outerHTML = '<svg class="rtf-icon" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e8eaed"><path d="M120-200v-560q0-33 23.5-56.5T200-840h560q33 0 56.5 23.5T840-760v560q0 33-23.5 56.5T760-120H200q-33 0-56.5-23.5T120-200Zm80-400h560v-160H200v160Zm213 200h134v-120H413v120Zm0 200h134v-120H413v120ZM200-400h133v-120H200v120Zm427 0h133v-120H627v120ZM200-200h133v-120H200v120Zm427 0h133v-120H627v120Z"/></svg>';
    }

    function addDeleteBtn(new_editor) {
        const newEditor = new_editor.container.$;
        const toolbar = newEditor.querySelector('.cke_top');
        setRtfStyle(newEditor);
        const deleteBtn = document.createElement('button');
        deleteBtn.innerHTML = '<svg class="rtf-icon" xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#e8eaed"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg>';
        deleteBtn.classList.add('delete-rtf-btn');
        deleteBtn.onclick = function() {deleteRTF(new_editor, newEditor);}
        toolbar.appendChild(deleteBtn);
        
        const footer = newEditor.querySelector('.cke_bottom');
        footer.style.display = "none";
    }

    function deleteRTF(new_editor, newEditor){
        editor_count--;
        const pElem = newEditor.parentElement;
        pElem.nextElementSibling.remove();
        pElem.remove();
        new_editor.destroy();
    }
    
    function createNewRTF(button) {
        const ckeditorContainer = document.querySelector(".ckeditor-container");
        let newField = document.createElement("div");
        newField.innerHTML = `<textarea class='rtf-editor' id='ckeditor_${editor_count}'></textarea>`;
        ckeditorContainer.appendChild(newField);
        const hr = document.createElement("hr");
        hr.classList.add("page-break-indicator");
        ckeditorContainer.appendChild(hr);
        const new_editor = CKEDITOR.replace(`ckeditor_${editor_count}`, {customConfig: "{% static 'js/ckeditor/customConfig.js' %}", height: "700px", contentsCss: ["{% static 'css/ckeditor_custom.css' %", "{% static 'css/color_pallette.css' %}"]});
        setTimeout(function(){addDeleteBtn(new_editor);}, 0);
        editor_count++;
    }

    function submitRecord(button) {
        var additionalDetails = [];
        for(const instance in CKEDITOR.instances) {
            const data = CKEDITOR.instances[instance].getData();
            additionalDetails.push(data);
        }
        const result = additionalDetails.shift();
        const sample_quantity = document.getElementById("sample_quantity").value;
        const SerialNo = document.getElementById("SerialNo").value;

        fetch(`/report/{{test.TestStage}}/{{test.ProductType}}/{{test.TestName}}/{{test.ModelName}}/{{test.SerailNo}}/`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({sample_quantity, SerialNo, result, additionalDetails}),
        })
        .then(response => response.json())
        .then(data => {
            if (data.url) {
                window.location.href = data.url;
            }
        })
    }
</script>
</body>
</html>