<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load static%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icons/webpage.png' %}">
    <title>Report Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/view_record.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
</head>
<body>
{% if employee.is_superuser %}
    {% include "header_PO.html" %}
{% else %}
    {% include "header.html" %}
{% endif %}
<form class="mx-auto card p-3 shadow-lg form-container" method="post" action="{% url 'report' test.TestStage test.ProductType test.TestName test.ModelName test.SerailNo %}"  enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.media }}
    <p style='margin:0cm;text-align:center;vertical-align:baseline;'><strong><u><span style='font-size:24px;'>{{TestProtocol.TestName}}</span></u></strong></p>
    <div style="margin: 6px;"></div>
    <table>
        <tbody>
            {% if test.ProductType == 'AC' %}
                <tr>
                    <td class="header-column">
                        <strong><span class="row_header">Test Objective</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{ TestProtocol.Test_Objective }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Model No.</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{ model.ModelName }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Sample Quantity</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{ form.sample_quantiy }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Serial No.</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{ form.SerailNo }}</span>
                    </td>
                </tr>
                {% if test.verification %}
                <tr>
                    <td rowspan="9">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td colspan="4">
                        <span>Report verification Date: {{test.test_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td rowspan="9">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td colspan="2">
                        <span>Start Date: {{test.test_start_date|date:"d/m/Y"}}</span>
                    </td>
                    <td colspan="2">
                        <span>End Date: {{test.test_end_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="2">
                        <span>Indoor unit details</span>
                    </td>
                    <td colspan="2">
                        <span>Outdoor unit details</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Model</span>
                    </td>
                    <td>
                        <span>{{model.ModelName}}</span>
                    </td>
                    <td>
                        <span>Model</span>
                    </td>
                    <td>
                        <span>{{model.ModelName}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>S.</span><span>N</span><span>o</span><span>.</span>
                    </td>
                    <td>
                        <span>N/A</span>
                    </td>
                    <td>
                        <span>S.</span><span>N</span><span>o</span><span>.</span>
                    </td>
                    <td>
                        <span>N/A</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Bl. Motor</span>
                    </td>
                    <td>
                        <span>{{model.BImotor}}</span>
                    </td>
                    <td>
                        <span>Compressor</span>
                    </td>
                    <td>
                        <span>{{model.Compressor}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Blower</span>
                    </td>
                    <td>
                        <span>{{model.Blower}}</span>
                    </td>
                    <td>
                        <span>Fan motor</span>
                    </td>
                    <td>
                        <span>{{model.FanMotor}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Eva. Coil</span>
                    </td>
                    <td>
                        <span>{{model.Eva}}</span>
                    </td>
                    <td>
                        <span>Fan</span>
                    </td>
                    <td>
                        <span>{{model.Fan}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Conn. Pipe</span>
                    </td>
                    <td>
                        <span>{{model.ConPipe}}</span>
                    </td>
                    <td>
                        <span>Cond. Coil</span>
                    </td>
                    <td>
                        <span>{{model.CondCoil}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Ref. Charge</span>
                    </td>
                    <td>
                        <span>{{model.RefCharge}}</span>
                    </td>
                    <td>
                        <span>Capillary tube</span>
                    </td>
                    <td>
                        <span>{{model.Capilary}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Standard</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{TestProtocol.Test_Standard}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Condition</span></strong>
                    </td>
                    <td colspan="4">
                        <span> {{TestProtocol.Test_Condition|linebreaksbr }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Procedure</span></strong>
                    </td>
                    <td colspan="4">
                        <span> {{TestProtocol.Test_Procedure|linebreaksbr }}</span> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Judgement Criteria</span></strong>
                    </td>
                    <td colspan="4">
                        <span> {{TestProtocol.Judgement|linebreaksbr }}</span>  
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Instrument / Equipment used</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{TestProtocol.Instrument}}</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="4">
                        <strong><span class="row_header">Result &amp; Conclusion</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{form.result}}</span>
                    </td>
                </tr>
            {% elif test.ProductType == 'WM - FATL' %}
                <tr>
                    <td class="header-column">
                        <strong><span class="row_header">Test Objective</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ TestProtocol.Test_Objective }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Model No.</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ model.ModelName }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Sample Quantity</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ form.sample_quantiy }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Serial No.</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ form.SerailNo }}</span>
                    </td>
                </tr>
                {% if test.verification %}
                <tr>
                    <td rowspan="7">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td colspan="2">
                        <span>Report verification Date: {{test.test_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td rowspan="7">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td>
                        <span>Test Start Date: {{test.test_start_date|date:"d/m/Y"}}</span>
                    </td>
                    <td>
                        <span>Test End Date: {{test.test_end_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <span>Type</span>
                    </td>
                    <td>
                        <span>Fully Automatic Top Load Washing Machine</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Rated Capacity</span>
                    </td>
                    <td>
                        <span>{{model.RatedCapacity}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Rated Power</span>
                    </td>
                    <td>
                        <span>{{model.RatedPower}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Rated Supply</span>
                    </td>
                    <td>
                        <span>{{model.RatedSupply}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Rated Frequency</span>
                    </td>
                    <td>
                        <span>{{model.RatedFrequency}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Rated RPM</span>
                    </td>
                    <td>
                        <span>{{model.RatedRPM}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Standard</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{TestProtocol.Test_Standard}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Condition</span></strong>
                    </td>
                    <td colspan="2">
                        <span> {{TestProtocol.Test_Condition|linebreaksbr }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Procedure</span></strong>
                    </td>
                    <td colspan="2">
                        <span> {{TestProtocol.Test_Procedure|linebreaksbr }}</span> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Judgement Criteria</span></strong>
                    </td>
                    <td colspan="2">
                        <span> {{TestProtocol.Judgement|linebreaksbr }}</span>  
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Instrument / Equipment used</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{TestProtocol.Instrument}}</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <strong><span class="row_header">Result &amp; Conclusion</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{form.result}}</span>
                    </td>
                </tr>
                {% elif test.ProductType == 'Mobile' %}
                <tr>
                    <td class="header-column">
                        <strong><span class="row_header">Test Objective</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ TestProtocol.Test_Objective }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Model No.</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ model.ModelName }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Sample Quantity</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ form.sample_quantiy }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Serial No.</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ form.SerailNo }}</span>
                    </td>
                </tr>
                {% if test.verification %}
                <tr>
                    <td rowspan="11">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td colspan="2">
                        <span>Report verification Date: {{test.test_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td rowspan="11">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td>
                        <span>Test Start Date: {{test.test_start_date|date:"d/m/Y"}}</span>
                    </td>
                    <td>
                        <span>Test End Date: {{test.test_end_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <span>IMEI Number</span>
                    </td>
                    <td>
                        <span>{{model.IMEINumber}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Chipset</span>
                    </td>
                    <td>
                        <span>{{model.Chipset}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Display</span>
                    </td>
                    <td>
                        <span>{{model.Display}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Camera</span>
                    </td>
                    <td>
                        <span>{{model.Camera}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Charger</span>
                    </td>
                    <td>
                        <span>{{model.Charger}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Battery</span>
                    </td>
                    <td>
                        <span>{{model.Battery}}</span>
                    </td>
                </tr>
                <tr></tr>
                    <td>
                        <span>RAM</span>
                    </td>
                    <td>
                        <span>{{model.RAM}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>ROM</span>
                    </td>
                    <td>
                        <span>{{model.ROM}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Color</span>
                    </td>
                    <td>
                        <span>{{model.Color}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Standard</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{TestProtocol.Test_Standard}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Condition</span></strong>
                    </td>
                    <td colspan="2">
                        <span> {{TestProtocol.Test_Condition|linebreaksbr }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Procedure</span></strong>
                    </td>
                    <td colspan="2">
                        <span> {{TestProtocol.Test_Procedure|linebreaksbr }}</span> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Judgement Criteria</span></strong>
                    </td>
                    <td colspan="2">
                        <span> {{TestProtocol.Judgement|linebreaksbr }}</span>  
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Instrument / Equipment used</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{TestProtocol.Instrument}}</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <strong><span class="row_header">Result &amp; Conclusion</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{form.result}}</span>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
<!-- <div style="margin: 20px;"></div> -->
<hr class="page-break-indicator">

<!-- this code doesnt work as additional_details isnt a string
 so if condition just defaults to True -->
{% if test.additional_details != '' %}
<div class="additional_details">{{ form.additional_details }}</div>
{% else %}
<button id="addPageButton" type="button" class="btn btn-primary custom-btn-small">Add page</button>
<div class="additional_details" style="display: none;">{{ form.additional_details }}</div>
{% endif %}
<div style="margin: 10px;"></div>
<button type="submit" class="btn btn-primary custom-btn-small">Submit</button>
</form>

<script src="{% static 'js/ckeditor/customImageInfo.js' %}"></script>
<script src="{% static 'js/ckeditor/customImageUpload.js' %}"></script>
<script>
    CKEDITOR.on('dialogDefinition', function (ev) {
        var dialogName = ev.data.name;
        var dialogDefinition = ev.data.definition;

        if (dialogName == 'image') {
            var infoTab = dialogDefinition.getContents('info');
            infoTab.remove('txtAlt');
            infoTab.remove('txtBorder');
            infoTab.remove('txtHSpace');
            infoTab.remove('txtVSpace');
        }
    });

    const addPageButton = document.getElementById("addPageButton");
    const additionalDetails = document.querySelector(".additional_details"); // Use querySelector for class

    addPageButton.addEventListener("click", function() {
        additionalDetails.style.display = "block";
        addPageButton.style.display = "none";
    });
</script>
<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
</body>
</html>