<tr>
    <td class="header-column">
        <strong><span class="row_header">Test Objective</span></strong>
    </td>
    <td colspan="2">
        <span>{{ TestProtocol.Test_Objective }}</span>
    </td>
</tr>
<tr>
    <td>
        <strong><span class="row_header">Model No.</span></strong>
    </td>
    <td colspan="2">
        <span>{{ model.ModelName }}</span>
    </td>
</tr>
<tr>
    <td>
        <strong><span class="row_header">Sample Quantity</span></strong>
    </td>
    <td colspan="2">
        <span>{{ test.sample_quantiy }}</span>
    </td>
</tr>
<tr>
    <td>
        <strong><span class="row_header">Serial No.</span></strong>
    </td>
    <td colspan="2">
        <span>{{ test.SerailNo }}</span>
    </td>
</tr>
{% if test.verification %}
<tr>
    <td rowspan="11">
        <strong><span class="row_header">Set Details</span></strong>
    </td>
    <td colspan="2">
        <span>Report verification Date: {{test.test_date|date:"d/m/Y"}}</span>
    </td>
</tr>
{% else %}
<tr>
    <td rowspan="11">
        <strong><span class="row_header">Set Details</span></strong>
    </td>
    <td>
        <span>Test Start Date: {{test.test_start_date|date:"d/m/Y"}}</span>
    </td>
    <td>
        <span>Test End Date: {{test.test_end_date|date:"d/m/Y"}}</span>
    </td>
</tr>
{% endif %}
<tr>
    <td>
        <span>IMEI Number</span>
    </td>
    <td>
        <span>{{model.IMEINumber}}</span>
    </td>
</tr>
<tr>
    <td>
        <span>Chipset</span>
    </td>
    <td>
        <span>{{model.Chipset}}</span>
    </td>
</tr>
<tr>
    <td>
        <span>Display</span>
    </td>
    <td>
        <span>{{model.Display}}</span>
    </td>
</tr>
<tr>
    <td>
        <span>Camera</span>
    </td>
    <td>
        <span>{{model.Camera}}</span>
    </td>
</tr>
<tr>
    <td>
        <span>Charger</span>
    </td>
    <td>
        <span>{{model.Charger}}</span>
    </td>
</tr>
<tr>
    <td>
        <span>Battery</span>
    </td>
    <td>
        <span>{{model.Battery}}</span>
    </td>
</tr>
<tr></tr>
    <td>
        <span>RAM</span>
    </td>
    <td>
        <span>{{model.RAM}}</span>
    </td>
</tr>
<tr>
    <td>
        <span>ROM</span>
    </td>
    <td>
        <span>{{model.ROM}}</span>
    </td>
</tr>
<tr>
    <td>
        <span>Color</span>
    </td>
    <td>
        <span>{{model.Color}}</span>
    </td>
</tr>
<tr>
    <td>
        <strong><span class="row_header">Test Standard</span></strong>
    </td>
    <td colspan="2">
        <span>{{TestProtocol.Test_Standard}}</span>
    </td>
</tr>
<tr>
    <td>
        <strong><span class="row_header">Test Condition</span></strong>
    </td>
    <td colspan="2">
        <span> {{TestProtocol.Test_Condition|linebreaksbr }}</span>
    </td>
</tr>
<tr>
    <td>
        <strong><span class="row_header">Test Procedure</span></strong>
    </td>
    <td colspan="2">
        <span> {{TestProtocol.Test_Procedure|linebreaksbr }}</span> 
    </td>
</tr>
<tr>
    <td>
        <strong><span class="row_header">Judgement Criteria</span></strong>
    </td>
    <td colspan="2">
        <span> {{TestProtocol.Judgement|linebreaksbr }}</span>  
    </td>
</tr>
<tr>
    <td>
        <strong><span class="row_header">Instrument / Equipment used</span></strong>
    </td>
    <td colspan="2">
        <span>{{TestProtocol.Instrument}}</span>
    </td>
</tr>
<tr>
    <td rowspan="2">
        <strong><span class="row_header">Result &amp; Conclusion</span></strong>
    </td>
    <td colspan="2">
        <span>{{test.result|safe}}</span>
    </td>
</tr>