<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icons/webpage.png' %}">
    <title>Add Tests for Model</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    {% include "header_PO.html" %}
    <div class="message-container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message {{ message.level_tag }}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="container">
        <div class="form-container">
            <div class="form-header" style = "padding: 5px 30px; "> 
                <h1>Add Tests for Model</h1>
            </div>
            <form action="{% url 'TestNames' %}" method="post">
                <div class="form-group">
                    <label for="Product">Product</label>
                    <input type="text" class="form-control" id="Product" name="Product" value="{{ product }}" readonly>
                </div>
                <div class="form-group">
                    <label for="ModelName">Model Number</label>
                    <input type="text" class="form-control" id="ModelName" name="ModelName" value="{{ model_name }}" readonly>
                </div>
                <div class="form-group">
                    <label for="single-select-container" style="margin-bottom: 0;">Stages</label>
                    <div class="single-select-container">
                        <span style="gap: 5px; display: flex; align-items: center;">
                            <input type="checkbox" id="stage-dvt" name="single-select-options" class="single-select-checkboxes" value="DVT" onclick="singleSelect(this)">
                            <label for="stage-dvt"></label>DVT
                        </span>
                        <span style="gap: 5px; display: flex; align-items: center;">
                            <input type="checkbox" id="stage-pp" name="single-select-options" class="single-select-checkboxes" value="PP" onclick="singleSelect(this)">
                            <label for="stage-pp"></label>PP
                        </span>
                        <span style="gap: 5px; display: flex; align-items: center;">
                            <input type="checkbox" id="stage-mp" name="single-select-options" class="single-select-checkboxes" value="MP" onclick="singleSelect(this)">
                            <label for="stage-mp"></label>MP
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label>DVT Tests</label>
                    <select class="multiple-selections" id="dvt-options" name="dvt-options" data-placeholder="Select DVT Tests" multiple data-multi-select>
                        {% for t in DVT %}
                            {% for st in selected_dvt %}
                                {% if t == st %}
                                    <option value="{{ t }}" selected>{{ t }}</option>
                                {% else %}
                                    <option value="{{ t }}">{{ t }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group timeline-group">
                    <label>DVT Timeline <span style="font-size: 12px; font-weight: 300;">(Leave empty if not decided yet)</span></label>
                    <div class="timeline">
                        {% if timeline_dvt %}
                            Start Date: <input value="{{ timeline_dvt.0 }}" type="date" class="timeline-input form-control" id="dvt" name="dvt-start-date" placeholder="Enter NA if not decided yet">
                        {% else %}
                            Start Date: <input type="date" class="timeline-input form-control" id="dvt" name="dvt-start-date" placeholder="Enter NA if not decided yet">
                        {% endif %}
                    </div>
                    <div class="timeline">
                        {% if timeline_dvt %}
                            End Date: <input value="{{ timeline_dvt.1 }}" type="date" class="timeline-input form-control" id="dvt" name="dvt-end-date" placeholder="Enter NA if not decided yet">
                        {% else %}
                            End Date: <input type="date" class="timeline-input form-control" id="dvt" name="dvt-end-date" placeholder="Enter NA if not decided yet">
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label>PP Tests</label>
                    <select class="multiple-selections" id="pp-options" name="pp-options" data-placeholder="Select PP Tests" multiple data-multi-select>
                        {% for t in PP %}
                            {% for st in selected_pp %}
                                {% if t == st %}
                                    <option value="{{ t }}" selected>{{ t }}</option>
                                {% else %}
                                    <option value="{{ t }}">{{ t }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group timeline-group">
                    <label>PP Timeline <span style="font-size: 12px; font-weight: 300;">(Leave empty if not decided yet)</span></label>
                    <div class="timeline">
                        {% if timeline_pp %}
                            Start Date: <input value="{{ timeline_pp.0 }}" type="date" class="timeline-input form-control" id="pp" name="pp-start-date" placeholder="Enter NA if not decided yet">
                        {% else %}
                            Start Date: <input type="date" class="timeline-input form-control" id="pp" name="pp-start-date" placeholder="Enter NA if not decided yet">
                        {% endif %}
                    </div>
                    <div class="timeline">
                        {% if timeline_pp %}
                            End Date: <input value="{{ timeline_pp.1 }}" type="date" class="timeline-input form-control" id="pp" name="pp-end-date" placeholder="Enter NA if not decided yet">
                        {% else %}
                            End Date: <input type="date" class="timeline-input form-control" id="pp" name="pp-end-date" placeholder="Enter NA if not decided yet">
                        {% endif %}
                    </div>
                </div>
                <div class="form-group">
                    <label>MP Tests</label>
                    <select class="multiple-selections" id="mp-options" name="mp-options" data-placeholder="Select MP Tests" multiple data-multi-select>
                        {% for t in MP %}
                            {% for st in selected_mp %}
                                {% if t == st %}
                                    <option value="{{ t }}" selected>{{ t }}</option>
                                {% else %}
                                    <option value="{{ t }}">{{ t }}</option>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group timeline-group">
                    <label>MP Timeline <span style="font-size: 12px; font-weight: 300;">(Leave empty if not decided yet)</span></label>
                    <div class="timeline">
                        {% if timeline_mp %}
                            Start Date: <input value="{{ timeline_mp.0 }}" type="date" class="timeline-input form-control" id="mp" name="mp-start-date" placeholder="Enter NA if not decided yet">
                        {% else %}
                            Start Date: <input type="date" class="timeline-input form-control" id="mp" name="mp-start-date" placeholder="Enter NA if not decided yet">
                        {% endif %}
                    </div>
                    <div class="timeline">
                        {% if timeline_mp %}
                            End Date: <input value="{{ timeline_mp.1 }}" type="date" class="timeline-input form-control" id="mp" name="mp-end-date" placeholder="Enter NA if not decided yet">
                        {% else %}
                            End Date: <input type="date" class="timeline-input form-control" id="mp" name="mp-end-date" placeholder="Enter NA if not decided yet">
                        {% endif %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-submit">Submit</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/multiselect.js' %}"></script>
    <script src="{% static 'js/testName.js' %}"></script>
</body>
</html>