<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Specification Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    <div class="nav">
        <div class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li class="message {{ message.level_tag }}">
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="right-icon">
            <button class="user-btn" id="userButton" onclick="toggleUserInfo()">
                <span id="userButtonText"></span>
                <span class="icon" id="userButtonIcon">{{icon}}</span> <!-- Example downward triangle icon -->
            </button>
            <div class="user-info" id="userInfo">
                <p>Username: {{ username }}</p>
                <p>Name: {{ first_name }} {{ last_name }}</p>
                <a class="logout-btn" onclick="logoutUser()" data-csrf="{{ csrf_token }}">Logout</a>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="form-container">
            
            <div class="header">
                <h1>Product Test Detail Form</h1>
            </div>

            {% if messages %}
            <div class="alert alert-danger">
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
            {% endif %}

            <form action="{% url 'test_protocol_entry' test_name product %}" method="post">
                {% csrf_token %}
               
                
                <div class="form-group">
                    <label >Test Objective</label>
                    <input type="text" class="form-control" id="Testobjective" name="Testobjective" required>
                </div>
                <div class="form-group">
                    <label >Test Standard</label>
                    <input type="text" class="form-control" id="Teststandard" name="Teststandard" required>
                </div>
                <div class="form-group">
                    <label >Test Conditon</label>
                    <input type="text" class="form-control" id="Testcondition" name="Testcondition" required>
                </div>
                <div class="form-group">
                    <label >Test Procedure</label>
                    <input type="text" class="form-control" id="Testprocedure" name="Testprocedure" required>
                </div>
                <div class="form-group">
                    <label >Judgement</label>
                    <input type="text" class="form-control" id="judgement" name="judgement" required>
                </div>
                <div class="form-group">
                    <label >Instrument</label>
                    <input type="text" class="form-control" id="instrument" name="instrument" required>
                </div>
              
               
                <button type="submit" class="btn btn-primary btn-submit">Submit</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/form.js' %}"></script>
</body>
</html>