<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Protocols</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
</head>
<body>
    <div class="header">
        <form action="{% url 'test_list_entry' %}" method="post">
            <div class="left-icon">
                <form action=""></form>
                <button class="dashboard-btn" name="action" value="dashboard" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed">
                        <path d="M 200 -120 q -33 0 -56.5 -23.5 T 120 -200 v -560 q 0 -33 23.5 -56.5 T 200 -840 h 560 q 33 0 56.5 23.5 T 840 -760 v 560 q 0 33 -23.5 56.5 T 760 -120 H 200 Z m 0 -80 h 240 v -560 H 200 v 560 Z m 320 0 h 240 v -280 H 520 v 280 Z m 0 -360 h 240 v -200 H 520 v 200 Z"/>
                    </svg>&nbsp;Dashboard
                </button>
            </div>
        </form>
        <div class="right-icon">
            <div class="theme-toggle-btn">
                <input type="checkbox" class="theme-checkbox" id="theme-checkbox">
                <label style="margin-bottom: 0px;" for="theme-checkbox" class="theme-checkbox-label">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <span class="theme-ball"></span>
                </label>
            </div>
            <button class="user-btn" id="userButton" onclick="toggleUserInfo()">
                <span class="icon" id="userButtonIcon">{{icon}}</span>
            </button>
            <div class="user-info" id="userInfo">
                <span>
                    <p class="name">Name: {{ first_name }} {{ last_name }}</p>
                    <p class="mail">Email: {{ username }}</p>
                </span>
                <span style="display: flex; align-items: center; justify-content: center;">
                    <a class="logout-btn"  onclick="logoutUser()">Logout</a>
                </span>
            </div>
        </div>
    </div>
    <div class="message-container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message {{ message.level_tag }}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="container">
        <div class="form-container">
            <div class="form-header">
                <h1>Test Protocols</h1>
            </div>
            <form action="{% url 'test_protocol_entry' test_name product %}" method="post">
                {% csrf_token %}
               
                <div class="form-group">
                    <label >Test Objective</label>
                    <textarea class="form-control" id="Testobjective" name="Testobjective" required>{{ test_detail.Test_Objective }}</textarea>
                </div>
                <div class="form-group">
                    <label >Test Standard</label>
                    <textarea class="form-control" id="Teststandard" name="Teststandard" required>{{ test_detail.Test_Standard }}</textarea>
                </div>
                <div class="form-group">
                    <label >Test Conditon</label>
                    <textarea class="form-control" id="Testcondition" name="Testcondition" required>{{ test_detail.Test_Condition }}</textarea>
                </div>
                <div class="form-group">
                    <label >Test Procedure</label>
                    <textarea class="form-control" id="Testprocedure" name="Testprocedure" required>{{ test_detail.Test_Procedure }}</textarea>
                </div>
                <div class="form-group">
                    <label >Judgement Criteria</label>
                    <textarea class="form-control" id="judgement" name="judgement" required>{{ test_detail.Judgement }}</textarea>
                </div>
                <div class="form-group">
                    <label >Instrument / Equipment used</label>
                    <textarea class="form-control" id="instrument" name="instrument" required>{{ test_detail.Instrument }}</textarea>
                </div>
               
                <button type="submit" class="btn btn-primary btn-submit">Submit</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
</body>
</html>