<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'icons/webpage.png' %}">
    <title>Test Protocols</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">  
</head>
<body>
    {% include "header_PO.html" %}
    <div class="message-container">
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li class="message {{ message.level_tag }}">
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
    <div class="container">
        <div class="form-container">
            <div class="form-header">
                <h1>Test Protocols</h1>
            </div>
            <form action="{% url 'test_protocol_entry' test_name product %}" method="post">
                <div class="form-group">
                    <label >Test Objective</label>
                    <textarea class="form-control" id="Testobjective" name="Testobjective" required>{{ test_detail.Test_Objective }}</textarea>
                </div>
                <div class="form-group">
                    <label >Test Standard</label>
                    <textarea class="form-control" id="Teststandard" name="Teststandard" required>{{ test_detail.Test_Standard }}</textarea>
                </div>
                <div class="form-group">
                    <label >Test Condition</label>
                    <textarea class="form-control" id="Testcondition" name="Testcondition" required>{{ test_detail.Test_Condition }}</textarea>
                </div>
                <div class="form-group">
                    <label >Test Procedure</label>
                    <textarea class="form-control" id="Testprocedure" name="Testprocedure" required>{{ test_detail.Test_Procedure }}</textarea>
                </div>
                <div class="form-group">
                    <label >Judgement Criteria</label>
                    <textarea class="form-control" id="judgement" name="judgement" required>{{ test_detail.Judgement }}</textarea>
                </div>
                <div class="form-group">
                    <label >Instrument / Equipment used</label>
                    <textarea class="form-control" id="instrument" name="instrument" required>{{ test_detail.Instrument }}</textarea>
                </div>
               
                <button type="submit" class="btn btn-primary btn-submit">Submit</button>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'js/header.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>