<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0, user-scalable=yes">
    <link rel="shortcut icon" href="{% static 'icons/webpage.png' %}">
    <title>View Test Details</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/view_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>
    {% include "header_PO.html" %}
    {% if messages %}
        <span class="message-container">
            {% for message in messages %}
                <span class="message {{ message.level_tag }}">
                    {{ message }}
                </span>
                <div class="timer-bar"></div>
            {% endfor %}
        </span>
    {% endif %}
    <div class="content">
        <div style="padding: 10px 20px 0px 20px;">
            <h1>Test Details</h1>
            <div>
                <form method="GET">
                    <div class="inline">
                        <label for="product_filter">Product:</label>
                        <select class="filter-dropdown" name="product_filter" onchange="this.form.submit()">
                            <option value="">All Products</option>
                            {% for product in products %}
                                <option value="{{ product }}" {% if product == request.GET.product_filter %}selected{% endif %}>
                                    {{ product }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="inline">
                        <label for="testname_filter">Test Name:</label>
                        <select class="filter-dropdown" name="testname_filter" onchange="this.form.submit()">
                            <option value="">All Test Names</option>
                            {% for testname in testnames %}
                                <option value="{{ testname }}" {% if testname == request.GET.testname_filter %}selected{% endif %}>
                                    {{ testname }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="clear-btn" name="clear_filters" value="true">Clear</button>
                </form>
                <div>
                    <span class="filtered-test-count"></span>
                </div>
            </div>
        </div>
        <div class="table-containers">
            <table>
                <thead>
                    <tr>
                        {% if not product_filter %}
                        <th>Product Type</th>
                        {% endif %}
                        {% if not testname_filter %}
                        <th>Test Name</th>
                        {% endif %}
                        <th>Objective</th>
                        <th>Standard</th>
                        <th>Condition</th>
                        <th>Procedure</th>
                        <th>Judgement</th>
                        <th>Instrument</th>
                    </tr>
                </thead>
                <tbody>
                    {% for test in tests %}
                    <tr>
                        {% if not product_filter %}
                        <td>{{ test.ProductType | linebreaksbr}}</td>
                        {% endif %}
                        {% if not testname_filter %}
                        <td>{{ test.TestName | linebreaksbr}}</td>
                        {% endif %}
                        <td>{{ test.Test_Objective | linebreaksbr}}</td>
                        <td>{{ test.Test_Standard | linebreaksbr}}</td>
                        <td>{{ test.Test_Condition | linebreaksbr}}</td>
                        <td>{{ test.Test_Procedure | linebreaksbr}}</td>
                        <td>{{ test.Judgement | linebreaksbr}}</td>
                        <td>{{ test.Instrument | linebreaksbr}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>    
        </div>
    </div>

<script type="text/javascript" src="{% static 'js/header.js' %}"></script>
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var messageContainer = document.querySelector('.message-container');
        var timerBar = document.querySelector('.timer-bar');
        var header = document.querySelector('.header');

        if (messageContainer && timerBar && header) {
            var headerRect = header.getBoundingClientRect();
            var headerHeight = headerRect.height;
            var headerTop = headerRect.top + window.scrollY;
            messageContainer.style.top = `${headerTop + headerHeight}px`;
            timerBar.style.width = '0%';

            setTimeout(function() {
                messageContainer.style.top = `-${messageContainer.offsetHeight}px`;
            }, 5000);
        }
        const test_count = document.querySelector('tbody').querySelectorAll('tr').length;
        const productFilterValue = document.querySelector('.filter-dropdown[name="product_filter"]').value;
        // if (productFilterValue !== "") {
        const filteredTestCount = document.querySelector('.filtered-test-count');
        filteredTestCount.textContent = `${test_count} tests found`;
        filteredTestCount.style.fontWeight = 'bold';
        // }
    });
</script>
</body>
</html>