<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% load static%}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/view_record.css' %}">
</head>
<body>

<form class="mx-auto card p-3 shadow-lg form-container" >
    {% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <p style='margin:0cm;text-align:center;vertical-align:baseline;'><strong><u><span style='font-size:24px;'>{{TestProtocol.TestName}}</span></u></strong></p>
    <div style="margin: 6px;"></div>
    <table>
        <tbody>
            {% if testdetail.ProductType == 'AC' %}
                <tr>
                    <td style="max-width: 110px;">
                        <strong><span class="row_header">Test Objective</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{ TestProtocol.Test_Objective }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Model No.</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{ model.ModelName }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Sample Quantity</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{ test.sample_quantiy }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Serial No.</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{ serialno }}</span>
                    </td>
                </tr>
                {% if testdetail.verification %}
                <tr>
                    <td rowspan="9">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td colspan="4">
                        <span>Report verification Date: {{testdetail.test_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td rowspan="9">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td colspan="2">
                        <span>Start Date: {{testdetail.test_start_date|date:"d/m/Y"}}</span>
                    </td>
                    <td colspan="2">
                        <span>End Date: {{testdetail.test_end_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="2">
                        <span>Indoor unit details</span>
                    </td>
                    <td colspan="2">
                        <span>Outdoor unit details</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Model</span>
                    </td>
                    <td>
                        <span>{{model.ModelName}}</span>
                    </td>
                    <td>
                        <span>Model</span>
                    </td>
                    <td>
                        <span>{{model.ModelName}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>S.</span><span>N</span><span>o</span><span>.</span>
                    </td>
                    <td>
                        <span>N/A</span>
                    </td>
                    <td>
                        <span>S.</span><span>N</span><span>o</span><span>.</span>
                    </td>
                    <td>
                        <span>N/A</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Bl. Motor</span>
                    </td>
                    <td>
                        <span>{{model.BImotor}}</span>
                    </td>
                    <td>
                        <span>Compressor</span>
                    </td>
                    <td>
                        <span>{{model.Compressor}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Blower</span>
                    </td>
                    <td>
                        <span>{{model.Blower}}</span>
                    </td>
                    <td>
                        <span>Fan motor</span>
                    </td>
                    <td>
                        <span>{{model.FanMotor}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Eva. Coil</span>
                    </td>
                    <td>
                        <span>{{model.Eva}}</span>
                    </td>
                    <td>
                        <span>Fan</span>
                    </td>
                    <td>
                        <span>{{model.Fan}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Conn. Pipe</span>
                    </td>
                    <td>
                        <span>{{model.ConPipe}}</span>
                    </td>
                    <td>
                        <span>Cond. Coil</span>
                    </td>
                    <td>
                        <span>{{model.CondCoil}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Ref. Charge</span>
                    </td>
                    <td>
                        <span>{{model.RefCharge}}</span>
                    </td>
                    <td>
                        <span>Capillary tube</span>
                    </td>
                    <td>
                        <span>{{model.Capilary}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Standard</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{TestProtocol.Test_Standard}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Condition</span></strong>
                    </td>
                    <td colspan="4">
                        <span> {{TestProtocol.Test_Condition|linebreaksbr }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Procedure</span></strong>
                    </td>
                    <td colspan="4">
                        <span> {{TestProtocol.Test_Procedure|linebreaksbr }}</span> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Judgement Criteria</span></strong>
                    </td>
                    <td colspan="4">
                        <span> {{TestProtocol.Judgement|linebreaksbr }}</span>  
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Instrument / Equipment used</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{TestProtocol.Instrument}}</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="4">
                        <strong><span class="row_header">Result &amp; Conclusion</span></strong>
                    </td>
                    <td colspan="4">
                        <span>{{test.result|safe}}</span>
                    </td>
                </tr>
            {% elif testdetail.ProductType == 'WM - FATL' %}
                <tr>
                    <td style="width: 110px;">
                        <strong><span class="row_header">Test Objective</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ TestProtocol.Test_Objective }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Model No.</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ model.ModelName }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Sample Quantity</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ test.sample_quantiy }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Serial No.</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{ serialno }}</span>
                    </td>
                </tr>
                {% if testdetail.verification %}
                <tr>
                    <td rowspan="7">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td colspan="2">
                        <span>Report verification Date: {{testdetail.test_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td rowspan="7">
                        <strong><span class="row_header">Set Details</span></strong>
                    </td>
                    <td>
                        <span>Test Start Date: {{testdetail.test_start_date|date:"d/m/Y"}}</span>
                    </td>
                    <td>
                        <span>Test End Date: {{testdetail.test_end_date|date:"d/m/Y"}}</span>
                    </td>
                </tr>
                {% endif %}
                <tr>
                    <td>
                        <span>Type</span>
                    </td>
                    <td>
                        <span>Fully Automatic Top Load Washing Machine</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Rated Capacity</span>
                    </td>
                    <td>
                        <span>{{model.RatedCapacity}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Rated Power</span>
                    </td>
                    <td>
                        <span>{{model.RatedPower}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Rated Supply</span>
                    </td>
                    <td>
                        <span>{{model.RatedSupply}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>Rated Frequency</span>
                    </td>
                    <td>
                        <span>{{model.RatedFrequency}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span>RatedRPM</span>
                    </td>
                    <td>
                        <span>{{model.RatedRPM}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Standard</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{TestProtocol.Test_Standard}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Condition</span></strong>
                    </td>
                    <td colspan="2">
                        <span> {{TestProtocol.Test_Condition|linebreaksbr }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Test Procedure</span></strong>
                    </td>
                    <td colspan="2">
                        <span> {{TestProtocol.Test_Procedure|linebreaksbr }}</span> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Judgement Criteria</span></strong>
                    </td>
                    <td colspan="2">
                        <span> {{TestProtocol.Judgement|linebreaksbr }}</span>  
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong><span class="row_header">Instrument / Equipment used</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{TestProtocol.Instrument}}</span>
                    </td>
                </tr>
                <tr>
                    <td rowspan="2">
                        <strong><span class="row_header">Result &amp; Conclusion</span></strong>
                    </td>
                    <td colspan="2">
                        <span>{{test.result|safe}}</span>
                    </td>
                </tr>
            {% endif %}
        </tbody>
    </table>
<!-- <div style="margin: 20px;"></div> -->
<hr class="page-break-indicator">

<div class="additional_details">{{ test.additional_details|safe }}</div>

<div class="action-buttons">
    <a class="btn btn-primary" href="{% url 'employee_dashboard' %}">Return</a>
    {% if test.status == 'Not Sent' or test.status == 'Rejected' %}
        <a class="btn btn-primary" href="{% url 'set_status' test.id %}">Send</a>
    {% endif %}
    <a class="btn btn-primary" href="{% url 'remark' test.id %}">Remark</a>
    
</div>
</form>
</body>
</html>