<!DOCTYPE html>
<html>
<head>
    <title>Cooling Test Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .custom-btn-small {
            padding: 5px 10px;
            font-size: 12px;
        }
        .action-buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px; /* Adjust the gap between buttons as needed */
            margin-top: 20px; /* Add margin if needed to position the buttons */
        }
        
        .action-buttons .button {
            padding: 10px 20px;
            text-decoration: none;
            color: white;
            background-color: #333; /* Change color as needed */
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        
        .action-buttons .button:hover {
            background-color: #0056b3; /* Change hover color as needed */
        }
      
    </style>
    <script>
        function sendReport(reportId) {
            if (confirm('Are you sure you want to send this report to the product owner?')) {
                fetch(`/send_report/${reportId}/`, {
                    method: 'GET',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken')
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        location.reload();
                    } else {
                        alert('Failed to send report');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('An error occurred while sending the report');
                });
            }
        }
    </script>
</head>
<body>

<p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;vertical-align:baseline;'><strong><u><span style='font-size:21px;font-family:"Arial",sans-serif;'>{{TestProtocol.TestName}}</span></u></strong></p>
<p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;text-align:center;vertical-align:baseline;'><strong><u><span style='font-size:21px;font-family:"Arial",sans-serif;'><span style="text-decoration:none;">&nbsp;</span></span></u></strong></p>

<form class="col-6 mx-auto card p-3 shadow-lg" >
    {% csrf_token %}
<table style="margin-left:26.0pt;border-collapse:collapse;border:none;">
    <tbody>
        <tr>
            <td style="width:96.4pt;border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:5.8pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><strong><span style='font-size:12px;font-family:"Arial",sans-serif;'>Test Objective</span></strong></p>
            </td>
            <td colspan="4" style="width:410.65pt;border:solid windowtext 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:5.8pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{TestProtocol.Test_Objective}}</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:96.4pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><strong><span style='font-size:12px;font-family:"Arial",sans-serif;'>Model No.</span></strong></p>
            </td>
            <td colspan="4" style="width:410.65pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{model.ModelName}}</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:96.4pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><strong><span style='font-size:12px;font-family:"Arial",sans-serif;'>Sample Quantity</span></strong></p>
            </td>
            <td colspan="4" style="width:410.65pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{test.sample_quantiy}}</span></p>
                {% comment %} <p class="inner-box align-middle" style="width: 25%;"> <input type="text" name="quantiy" class="align-middle" style="border: 0; overflow: hidden;" value={{ form.sample_quantiy}}> </p> {% endcomment %}
              
            </td>
        </tr>
        <tr>
            <td style="width:96.4pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><strong><span style='font-size:12px;font-family:"Arial",sans-serif;'>Serial No.</span></strong></p>
            </td>
            <td colspan="4" style="width:410.65pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{serialno}}</span></p>
               
            </td>
        </tr>
        <tr>
            <td rowspan="10" style="width:96.4pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><strong><span style='font-size:12px;font-family:"Arial",sans-serif;'>Set Details</span></strong></p>
            </td>
            <td colspan="4" style="width:410.65pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Report verification Date :{{test.test_date}}</span></p>
                {% comment %} <p class="inner-box align-middle" style="width: 25%;"> <input type="text" name="ReportDate" class="align-middle" style="border: 0; overflow: hidden;" value="{% if testdetail.test_date %}{{ testdetail.test_date }}{% endif %}"> </p> {% endcomment %}
            </td>
            
        </tr>
        <tr>
            <td colspan="2" style="width:207.0pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Start Date: {{test.test_start_date}}</span></p>
            </td>
            <td colspan="2" style="width:203.65pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>End Date: {{test.test_end_date}}</span></p>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="width:207.0pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Indoor unit details</span></p>
            </td>
            <td colspan="2" style="width:203.65pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Outdoor unit details</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:58.9pt;border-top:none;border-left:none;border-bottom:  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Model</span></p>
            </td>
            <td style="width:148.1pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{model.ModelName}}</span></p>
            </td>
            <td style="width:75.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Model</span></p>
            </td>
            <td style="width:128.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{model.ModelName}}</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:58.9pt;border-top:none;border-left:none;border-bottom:  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>S.</span><span style='font-size:11px;font-family:"Arial",sans-serif;'>N</span><span style='font-size:11px;font-family:"Arial",sans-serif;'>o</span><span style='font-size:11px;font-family:"Arial",sans-serif;'>.</span></p>
            </td>
            <td style="width:148.1pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>N/A</span></p>
            </td>
            <td style="width:75.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>S.</span><span style='font-size:11px;font-family:"Arial",sans-serif;'>N</span><span style='font-size:11px;font-family:"Arial",sans-serif;'>o</span><span style='font-size:11px;font-family:"Arial",sans-serif;'>.</span></p>
            </td>
            <td style="width:128.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>N/A</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:58.9pt;border-top:none;border-left:none;border-bottom:  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Bl. Motor</span></p>
            </td>
            <td style="width:148.1pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{model.BImotor}}</span></p>
            </td>
            <td style="width:75.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Compressor</span></p>
            </td>
            <td style="width:128.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{model.Compressor}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:58.9pt;border-top:none;border-left:none;border-bottom:  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Blower</span></p>
            </td>
            <td style="width:148.1pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{model.Blower}}</span></p>
            </td>
            <td style="width:75.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Fan motor</span></p>
            </td>
            <td style="width:128.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{model.FanMotor}}</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:58.9pt;border-top:none;border-left:none;border-bottom:  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Eva. Coil</span></p>
            </td>
            <td style="width:148.1pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{model.Eva}}</span></p>
            </td>
            <td style="width:75.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Fan</span></p>
            </td>
            <td style="width:128.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{model.Fan}}</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:58.9pt;border-top:none;border-left:none;border-bottom:  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Conn. Pipe</span></p>
            </td>
            <td style="width:148.1pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{model.ConPipe}}</span></p>
            </td>
            <td style="width:75.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Cond. Coil</span></p>
            </td>
            <td style="width:128.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{model.CondCoil}}</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:58.9pt;border-top:none;border-left:none;border-bottom:  solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Ref. Charge</span></p>
            </td>
            <td style="width:148.1pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{model.RefCharge}}</span></p>
            </td>
            <td style="width:75.6pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>Capillary tube</span></p>
            </td>
            <td style="width:128.05pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;line-height:12.0pt;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{model.Capilary}}</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:96.4pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><strong><span style='font-size:12px;font-family:"Arial",sans-serif;'>Test Standard</span></strong></p>
            </td>
            <td colspan="4" style="width:410.65pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{TestProtocol.Test_Standard}}</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:96.4pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><strong><span style='font-size:12px;font-family:"Arial",sans-serif;'>Test Condition</span></strong></p>
            </td>
            <td colspan="4" style="width:410.65pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-size:11px;font-family:"Arial",sans-serif;'> {{TestProtocol.Test_Condition|linebreaksbr }}</span></p>
            </td>
        </tr>
        <tr>
            <td style="width:96.4pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><strong><span style='font-size:12px;font-family:"Arial",sans-serif;'>Test Procedure</span></strong></p>
            </td>
            <td colspan="4" style="width:410.65pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-size:11px;font-family:"Arial",sans-serif;'> {{TestProtocol.Test_Procedure|linebreaksbr }}</span></p> 
            </td>
        </tr>
        <tr>
            <td style="width:96.4pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><strong><span style='font-size:12px;font-family:"Arial",sans-serif;'>Judgement Criteria</span></strong></p>
            </td>
            <td colspan="4" style="width:410.65pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;'><span style='font-size:11px;font-family:"Arial",sans-serif;'> {{TestProtocol.Judgement|linebreaksbr }}</span></p>  
            </td>
        </tr>
        <tr>
            <td style="width:96.4pt;border:solid windowtext 1.0pt;border-top:  none;padding:0cm 5.4pt 0cm 5.4pt;height:14.35pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><strong><span style='font-size:12px;font-family:"Arial",sans-serif;'>Instrument / Equipment used</span></strong></p>
            </td>
            <td colspan="4" style="width:410.65pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:14.35pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{TestProtocol.Instrument}}</span></p>
            </td>
        </tr>
        <tr>
            <td rowspan="2" style="width:96.4pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:12.5pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><strong><span style='font-size:12px;font-family:"Arial",sans-serif;'>Result &amp; Conclusion</span></strong></p>
            </td>
            <td colspan="4" style="width:410.65pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:12.5pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>{{test.result}}</span></p>
                {% comment %} <input type="text" name="Result" class="align-middle" style="border: 0; overflow: hidden;" value="{% if testdetail.result %}{{ testdetail.result}}{% endif %}"> {% endcomment %}
            </td>
        </tr>
        <tr>
            <td colspan="4" style="width:410.65pt;border-top:none;border-left:  none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:16.6pt;">
                <p style='margin:0cm;font-size:13px;font-family:"Times New Roman",serif;vertical-align:baseline;'><span style='font-size:11px;font-family:"Arial",sans-serif;'>As per the verification of base model (Cl1832A223G2) report</span><span style='font-size:11px;font-family:"Arial",sans-serif;'>, AC is found to turn ON at default set temperature.</span></p>
            </td>
        </tr>
    </tbody>
</table>

<br><br>

<div class="action-buttons">
<a class="button" href="{% url 'check' %}">Return</a>
<a class="button" href="#" onclick="sendReport({{ test.id }})">Send</a>
</div>
{% comment %} <a class="button" href="{% url 'view' test.TestName test.ModelName test.SerialNo %}">View</a> {% endcomment %}



</form>

</body>
</html>