<div class="container">
    <div class="form-container">
        
        <div class="form-header" style = "padding: 5px 30px; "> 
            <h1>Specifications For WM - FATL</h1>
        </div>

        <form action="{% url 'WM-FATL' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="ModelName">Model Number</label>
                <input type="text" class="form-control" id="ModelName" name="ModelName" value="{{ model }}" readonly>
            </div>
            <div class="form-group">
                <label for="RatedCapacity">Rated Capacity</label>
                <input type="text" class="form-control" id="RatedCapacity" name="RatedCapacity" value="{{ WM_model.RatedCapacity }}" required>
            </div>
            <div class="form-group">
                <label for="RatedPower">Rated Power</label>
                <input type="text" class="form-control" id="RatedPower" name="RatedPower" value="{{ WM_model.RatedPower }}" required>
            </div>
            <div class="form-group">
                <label for="RatedSupply">Rated Supply</label>
                <input type="text" class="form-control" id="RatedSupply" name="RatedSupply" value="{{ WM_model.RatedSupply }}" required>
            </div>
            <div class="form-group">
                <label for="RatedFrequency">Rated Frequency</label>
                <input type="text" class="form-control" id="RatedFrequency" name="RatedFrequency" value="{{ WM_model.RatedFrequency }}" required>
            </div>
            <div class="form-group">
                <label for="RatedRPM">Rated RPM</label>
                <input type="text" class="form-control" id="RatedRPM" name="RatedRPM" value="{{ WM_model.RatedRPM }}" required>
            </div>
            <button type="submit" class="btn btn-primary btn-submit">Submit</button>
        </form>
    </div>
</div>